<!DOCTYPE html>
<layout:html lang="en"
             layout:decorator="layouts/main"
             xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>UMSpreadsheet</title>

    <link th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
    <div layout:fragment="content">

        <div class="container">

            <form name="f" th:action="@{/login}" method="post" class="form-signin">
                <h2 class="form-signin-heading">LOGIN TO UMSpreadsheet</h2>

                <div th:if="${param.error}" class="alert alert-danger">
                    Invalid username and password.
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    You have been logged out.
                </div>
                <div th:if="${signup}" class="alert alert-success" role="alert">
                    Signup successful.
                </div>
                <label for="email" class="sr-only">Username</label>
                <input type="text" id="email" name="email" class="form-control" placeholder="Email Address" required="true" autofocus="true" />
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="true" />
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"/> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            </form>

        </div> <!-- /container -->

    </div>
</body>
</layout:html>