<!DOCTYPE html>
<layout:html lang="en"
             layout:decorator="layouts/main"
             xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <title>UMSpreadsheet</title>

        <link th:href="@{/css/login.css}" rel="stylesheet"/>
    </head>
    <body>
    <div layout:fragment="content">

        <div class="container">

            <div th:if="${signup}" class="alert alert-danger">
                Sign up failed. Try again.
            </div>
                <form name="f" th:action="@{/register}" method="post" th:object="${user}" class="form-signin">
                    <h2 class="form-signin-heading">JOIN UMSpreadsheet</h2>
                    <input type="hidden" th:field="*{id}" />
                    <div class="form-group">
                        <label for="username" class="sr-only">Username</label>
                        <input type="text" id="username" name="username" th:field="*{username}" class="form-control" placeholder="Username" required="true" autofocus="true" />
                    </div>
                    <div class="form-group">
                        <label for="email" class="sr-only">Email</label>
                        <input type="text" id="email" name="email" th:field="*{email}" class="form-control" placeholder="Email Address" required="true" />
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" id="password" name="password" th:field="*{password}" class="form-control" placeholder="Password" required="true" />
                    </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                </form>

        </div> <!-- /container -->

    </div>
    </body>
</layout:html>