<!DOCTYPE html>
<layout:html lang="en"
             xmlns:th="http://www.thymeleaf.org"
             xmlns:social="http://spring.io/springsocial"
             layout:decorator="layouts/site"
             xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>UMSpreadsheet</title>

    <link th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
    <div layout:fragment="content">

        <div class="container">

            <form name="f" th:action="@{/signin/authenticate}" method="post" class="form-signin">
                <h2 class="form-signin-heading">Login to UMSpreadsheet</h2>

                <div th:if="${successMessages}" class="alert alert-success" role="alert">
                    <p th:each="message : ${successMessages}" th:text="${message}">
                        A message here.
                    </p>
                </div>

                <div th:if="${param.error}" class="alert alert-danger">
                    Either invalid username and password or you have yet to confirm your email address.
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    You have been logged out.
                </div>
                <div th:if="${signup}" class="alert alert-success" role="alert">
                    Signup successful.
                </div>
                <div class="form-group">
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="true" autofocus="true" />
                </div>
                <div class="form-group">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="true" />
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"/> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            </form>

            <hr style="max-width: 300px"/>

            <!-- GOOGLE SIGNIN -->
            <form id="gl_signin" th:action="@{/signin/google}" method="post" class="form-signin">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <div class="form-actions">
                    <button class="btn btn-social btn-google" type="submit">
                        <span class="fa fa-google"></span> Sign in with Google
                    </button>
                </div>
            </form>

        </div> <!-- /container -->

    </div>
</body>
</layout:html>