<!DOCTYPE html>
<layout:html lang="en"
             xmlns:th="http://www.thymeleaf.org"
             layout:decorator="layouts/site"
             xmlns:layout="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <title>UMSpreadsheet</title>

        <link th:href="@{/css/login.css}" rel="stylesheet"/>
        <script th:src="@{/js/signupValidation.js}" type="text/javascript"></script>
    </head>
    <body>
    <div layout:fragment="content">

        <div class="container">

            <div th:if="${signup}" class="alert alert-danger">
                Sign up failed. Correct any errors noted below.
            </div>
            <form name="signupForm" th:action="@{/signup}" method="post" th:object="${signupForm}" class="form-signin">
                <h2 class="form-signin-heading">Join UMSpreadsheet</h2>
                <input th:if="*{email != null} and ${!#fields.hasErrors('username')} and ${!#fields.hasErrors('email')} and ${!#fields.hasErrors('password')}"
                       type="hidden" th:field="*{email}" />
                <input type="hidden" th:field="*{userId}" />
                <div class="form-group" th:classappend="${#fields.hasErrors('username')}? 'has-error'">
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" id="username" name="username" th:field="*{username}" class="form-control" placeholder="Username" required="true" autofocus="true" />
                    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:class="help-block">[username errors]</span>
                </div>
                <div th:if="*{email == null} or ${#fields.hasErrors('username')} or ${#fields.hasErrors('email')} or ${#fields.hasErrors('password')}"
                     class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                    <label for="emailaddress" class="sr-only">Email</label>
                    <input type="text" id="emailaddress" name="email" th:field="*{email}" class="form-control" placeholder="Email Address" required="true" />
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="help-block">[email errors]</span>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password" name="password" th:field="*{password}" class="form-control" placeholder="Password" required="true" />
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:class="help-block">[password errors]</span>
                </div>
                <div class="form-group">
                    <label for="passwordConfirmation" class="sr-only">Password</label>
                    <input type="password" id="passwordConfirmation" name="passwordConfirmation" th:field="*{passwordConfirmation}"
                           class="form-control" placeholder="Confirm Password" required="true" />
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>

            <hr style="max-width: 300px"/>
            <!-- GOOGLE SIGNIN -->
            <form id="gl_signin" th:action="@{/signin/google}" method="post" class="form-signin">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <div class="form-actions">
                    <button class="btn btn-social btn-google" type="submit">
                        <span class="fa fa-google"></span> Sign Up with Google
                    </button>
                </div>
            </form>

        </div> <!-- /container -->

    </div>
    </body>
</layout:html>