<!DOCTYPE html>
<layout:html lang="en"
             xmlns:th="http://www.thymeleaf.org"
             xmlns:social="http://spring.io/springsocial"
             layout:decorator="layouts/site"
             xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>UMSpreadsheet</title>

    <link th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
    <div layout:fragment="content">

        <th:block class="container">

            <form th:object="${passwordDTO}" name="passwordDTO" th:action="@{/save-password}" method="post" class="form-signin">
                <h2 class="form-signin-heading">Update password</h2>

                <div class="row">
                    <div class="alert alert-danger col-md-6" th:if="${#fields.hasErrors('*')}">
                        <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="newPassword" class="sr-only">New password</label>
                    <input type="password" id="newPassword" name="newPassword" th:field="*{newPassword}"
                           class="form-control" placeholder="New password"
                           required autofocus />
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>

        </th:block>
    </div>
</body>
</layout:html>