<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="/layouts/site"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>UMspreadsheet</title>

    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/adminHome.css}"/>
</head>
<body>

    <div layout:fragment="content">
        <div class="container">
            <h1 id="header-title">Admin</h1>

            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="col-md-4 col-sm-6 box">
                            <div class="dark-div">
                                <h3>Shows</h3>
                                <hr>
                                <p><a th:href="@{/admin/add-show}">Add show</a></p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 box">
                            <div class="dark-div">
                                <h3>WormBlog</h3>
                                <hr>
                                <p><a th:href="@{/admin/publish-post}">Submit post</a></p>
                                <p><a th:href="@{/admin/manage-wormblog}">Manage posts</a></p>
                            </div>
                        </div>

                        <div sec:authorize="hasRole('ROLE_MANAGE_USERS_PRIVILEGE')" class="col-md-4 col-sm-6 box">
                            <div class="dark-div">
                                <h3>Users</h3>
                                <hr>
                                <p><a th:href="@{/admin/manage-users}">Manage users</a></p>
                                <p th:text="${'Total users: ' + totalUsers}"></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <span layout:fragment="footer">
        <br/>
        Icons made by
        <a href="http://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">
            Gregor Cresnar
        </a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
            CC 3.0 BY
        </a>
    </span>

</body>
</html>