<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/site"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>UMSpreadsheet</title>

    <link rel="stylesheet" th:href="@{/css/admin/editShow.css}" />

</head>

<body>
    <div layout:fragment="content">
        <div id="#home-container" class="container">

            <div id="most-recent-show-header" th:object="${show}">
                <h2 id="show-title" th:text="${#dates.format(show.date, 'yyyy/MM/dd') + ' ' + show.city + ', '  + show.state}"></h2>
                <h2 id="show-rating-and-medal" class="pull-right">
                    <i th:if="*{averageRating ge 6 and averageRating lt 7}" class="fa fa-trophy" style="color: #CD7F32;" aria-hidden="true"></i>
                    <i th:if="*{averageRating ge 7 and averageRating lt 8}" class="fa fa-trophy" style="color: #C0C0C0;" aria-hidden="true"></i>
                    <i th:if="*{averageRating ge 8 and averageRating lt 9}" class="fa fa-trophy" style="color: #FFD700;" aria-hidden="true"></i>
                    <i th:if="*{averageRating ge 9}" class="fa fa-diamond" style="color: #B9F2FF;" aria-hidden="true"></i>
                    <span th:if="*{averageRating != null}" th:text="*{#numbers.formatDecimal(averageRating, 1, 2)}">[0.00]</span>
                    <span th:if="*{averageRating == null}">No Rating</span>
                </h2>
                <h3 th:text="${show.venue}" style="margin-top: 3px;"></h3>
                <p class="edit-field" id="addSet">
                    <a href="javascript:" data-toggle="modal" data-target="#add-set-modal">
                        Add set
                    </a>
                </p>

                <div id="add-set-modal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content" style="background-color: #313131">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 th:text="'Add set'" class="modal-title">Modal Header</h4>
                            </div>
                            <div class="row">
                                <div class="modal-body col-sm-8 col-sm-offset-2">
                                    <form th:action="@{/admin/add-set}" id="addSetForm"
                                          name="addSetForm" th:object="${set}" method="post">
                                        <input type="hidden" th:field="*{showId}"/>
                                        <div class="form-group">
                                            <label class="control-label" for="set">Set</label>
                                            <input placeholder="Set 1" type="text" class="form-control" id="set" th:field="*{name}"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer" style="text-align: center;">
                                <button type="submit" class="btn btn-default" form="addSetForm">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table show-set-table">
                <thead>
                <tr>
                    <th data-priority="1" class="song-column-header" style="width: 315px">SONG</th>
                    <th style="width: 150px">LENGTH</th>
                    <th style="width: 130px">TYPE</th>
                    <th style="width: 275px">JAM</th>
                    <th>NOTES</th>
                    <th>EDIT</th>
                </tr>
                </thead>
                <tbody>
                <!--loop through sets-->
                <th:block th:each="set : ${show.sets}" th:object="${set}">
                    <!--print set title-->
                    <tr class="set-row">
                        <td class="set-name" colspan="8" th:text="*{name}">[set title]</td>
                    </tr>
                    <!--loop through tracks-->
                    <tr th:each="track, i : *{tracks}" th:object="${track}">
                        <td>
                            <span th:text="*{song}">[song name]</span>
                            <span th:if="${track.segue}"> > </span>
                            <span th:if="${track.fluidSegue}">&nbsp;->&nbsp;</span>
                        </td>

                        <td th:if="*{length > 60 && ((length % 60) > 9)}" th:text="*{length / 60} + ':' + *{length % 60}">[length]</td>
                        <td th:if="*{length > 60 && ((length % 60) < 10)}" th:text="*{length / 60} + ':0' + *{length % 60}">[length]</td>
                        <td th:if="*{length < 60 && !(length == null)}" th:text="'0:' + *{length}">[length]</td>
                        <td th:if="*{length == null}"></td>

                        <td th:text="*{type}">[type]</td>

                        <td th:text="*{jam}">[jam]</td>
                        <td th:text="*{notes}">[notes]</td>
                        <td>
                            <a href="#" data-toggle="modal" th:data-target="'#trackId' + *{id} + 'EditModal'">
                                <i class="fa fa-pencil" aria-hidden="true" style="color: yellow;"></i>
                            </a>
                        </td>

                        <div th:id="'trackId' + *{id} + 'EditModal'" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content" style="background-color: #313131">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 th:text="'Edit ' + *{song}" class="modal-title">Modal Header</h4>
                                    </div>
                                    <div class="row">
                                        <div class="modal-body col-sm-8 col-sm-offset-2">
                                            <form th:id="'editSongForm' + *{id}" th:action="@{/admin/edit-track}" th:method="put"
                                                  th:object="${track}">
                                                <input type="hidden" name="showId" th:value="${show.id}"/>
                                                <input type="hidden" name="id" th:value="*{id}"/>
                                                <input type="hidden" name="averageRating" th:value="*{averageRating}"/>
                                                <input type="hidden" name="showTrackNumber" th:value="${#lists.size(set.tracks) + 1}"/>
                                                <input th:id="'length' + *{id}" type="hidden" name="length" th:value="*{length}"/>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label for="song">Song</label>
                                                        <input type="text" class="form-control" id="songEdit"
                                                               name="song" th:value="*{song}"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-6">
                                                        <label th:for="'minutesEdit' + *{id}">Length</label>
                                                        <input placeholder="minutes" class="form-control minutesEdit"
                                                               type="number" th:id="'minutesEdit' + *{id}"
                                                               name="minutes" min=0 max=50 />
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label class="control-label" th:for="'seconds' + ${set.id}">&nbsp;</label>
                                                        <input placeholder="seconds" class="form-control secondsEdit" type="number"
                                                               th:id="'secondsEdit' + *{id}" name="seconds" min=0 max=59/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label class="control-label" for="segueCodeEdit">Segue</label>
                                                        <select type="number" class="form-control"
                                                                id="segueCodeEdit" name="segueCode" style="color: #000">
                                                            <option th:selected="*{!segue && !fluidSegue}" value=0>None</option>
                                                            <option th:selected="*{segue}" value=1>></option>
                                                            <option th:selected="*{fluidSegue}" value=2>-></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label class="control-label" for="typeEdit">Type</label>
                                                        <select class="form-control" id="typeEdit"
                                                                name="type" style="color: #000">
                                                            <option value="">None</option>
                                                            <option th:selected="*{type == 'JS'}" value="JS">Jimmy Stewart</option>
                                                            <option th:selected="*{type == 'LS'}" value="LS">Lyrical Stew</option>
                                                            <option th:selected="*{type == 'C'}" value="C">Cover</option>
                                                            <option th:selected="*{type == 'M'}" value="M">Mashup</option>
                                                            <option th:selected="*{type == 'N'}" value="N">New song</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label class="control-label" for="jamEdit">Jam</label>
                                                        <select class="form-control" id="jamEdit" name="jam" style="color: #000">
                                                            <option value="">None</option>
                                                            <option th:selected="*{jam == 'Bliss'}"  value="Bliss">Bliss</option>
                                                            <option th:selected="*{jam == 'Dance'}" value="Dance">Dance</option>
                                                            <option th:selected="*{jam == 'Dark'}" value="Dark">Dark</option>
                                                            <option th:selected="*{jam == 'Emotional'}" value="Emotional">Emotional</option>
                                                            <option th:selected="*{jam == 'Funk'}" value="Funk">Funk</option>
                                                            <option th:selected="*{jam == 'Industrial'}" value="Industrial">Industrial</option>
                                                            <option th:selected="*{jam == 'Jazz'}" value="Jazz">Jazz</option>
                                                            <option th:selected="*{jam == 'Metal'}" value="Metal">Metal</option>
                                                            <option th:selected="*{jam == 'Prog'}" value="Prog">Prog</option>
                                                            <option th:selected="*{jam == 'Reggae'}" value="Reggae">Reggae</option>
                                                            <option th:selected="*{jam == 'Rock'}" value="Rock">Rock</option>
                                                            <option th:selected="*{jam == 'Soaring'}" value="Soaring">Soaring</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <label for="notesEdit" class="control-label">Notes</label>
                                                    <textarea th:text="*{notes}" class="form-control" id="notesEdit"
                                                              name="notes" rows="4"></textarea>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer" style="text-align: center;">
                                        <button type="submit" class="btn btn-default" th:form="'editSongForm' + *{id}">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </tr>
                    <tr class="edit-button">
                        <td colspan="8">
                            <a class="edit-field" href="#" data-toggle="modal" th:data-target="'#setId' + *{id} + 'Modal'">
                                Add song
                            </a>
                        </td>
                    </tr>
                    <div th:id="'setId' + *{id} + 'Modal'" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content" style="background-color: #313131">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 th:text="'Add song to ' + *{name}" class="modal-title">Modal Header</h4>
                                </div>
                                <div class="row">
                                    <div class="modal-body col-sm-8 col-sm-offset-2">
                                        <form th:id="'addSongForm' + ${set.id}" th:action="@{/admin/add-track}" method="post" th:object="${track}">
                                            <input type="hidden" name="showId" th:field="*{showId}" th:value="${show.id}"/>
                                            <input type="hidden" name="setId" th:value="${set.id}"/>
                                            <input type="hidden" name="showTrackNumber" th:value="${#lists.size(set.tracks) + 1}"/>
                                            <input th:id="'length' + ${set.id}" type="hidden" name="length" value="0"/>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label for="song">Song</label>
                                                    <input type="text" class="form-control" id="song" th:field="*{song}"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-6">
                                                    <label th:for="'minutes' + ${set.id}">Length</label>
                                                    <input placeholder="minutes" class="form-control minutes"
                                                           type="number" th:id="'minutes' + ${set.id}"
                                                           name="minutes" min=0 max=50 />
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="control-label" th:for="'seconds' + ${set.id}">&nbsp;</label>
                                                    <input placeholder="seconds" class="form-control seconds" type="number"
                                                           th:id="'seconds' + ${set.id}" name="seconds" min=0 max=59/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label class="control-label" for="segueCode">Segue</label>
                                                    <select type="number" class="form-control" id="segueCode" th:field="*{segueCode}" style="color: #000">
                                                        <option value=0>None</option>
                                                        <option value=1>></option>
                                                        <option value=2>-></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label class="control-label" for="type">Type</label>
                                                    <select class="form-control" id="type" th:field="*{type}" style="color: #000">
                                                        <option value="">None</option>
                                                        <option value="JS">Jimmy Stewart</option>
                                                        <option value="LS">Lyrical Stew</option>
                                                        <option value="C">Cover</option>
                                                        <option value="M">Mashup</option>
                                                        <option value="N">New song</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label class="control-label" for="jam">Jam</label>
                                                    <select class="form-control" id="jam" th:field="*{jam}" style="color: #000">
                                                        <option value="">None</option>
                                                        <option value="Bliss">Bliss</option>
                                                        <option value="Dance">Dance</option>
                                                        <option value="Dark">Dark</option>
                                                        <option value="Emotional">Emotional</option>
                                                        <option value="Funk">Funk</option>
                                                        <option value="Industrial">Industrial</option>
                                                        <option value="Jazz">Jazz</option>
                                                        <option value="Metal">Metal</option>
                                                        <option value="Prog">Prog</option>
                                                        <option value="Reggae">Reggae</option>
                                                        <option value="Rock">Rock</option>
                                                        <option value="Soaring">Soaring</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label for="notes" class="control-label">Notes</label>
                                                <textarea class="form-control" id="notes" name="notes" rows="4"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer" style="text-align: center;">
                                    <button type="submit" class="btn btn-default" th:form="'addSongForm' + ${set.id}">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
                </tbody>
            </table>

        </div>
    </div>

    <th:block layout:fragment="script">
        <script type="text/javascript">
            window.onload = function ()
            {
                var minutes = 0;
                var seconds = 0;

                var elementsMin = document.getElementsByClassName('minutes');
                elementsMin = [].slice.call(elementsMin);

                elementsMin.forEach(function (element)
                {
                    element.addEventListener('change', function () {
                        minutes = parseInt(this.value);
                        var splitArray = element.id.split("minutes");
                        updateLengthInput(splitArray[1]);
                    });
                });

                var elementsSec = document.getElementsByClassName('seconds');
                elementsSec = [].slice.call(elementsSec);

                elementsSec.forEach(function (element)
                {
                    element.addEventListener('change', function () {
                        seconds = parseInt(this.value);
                        var splitArray = element.id.split("seconds");
                        updateLengthInput(splitArray[1]);
                    });
                });

                function updateLengthInput(setId) {
                    var length = ((minutes * 60) + seconds);
                    document.getElementById('length' + setId).value = length;
                }


                var elementsMinEdit = document.getElementsByClassName('minutesEdit');
                elementsMinEdit = [].slice.call(elementsMinEdit);

                elementsMinEdit.forEach(function (element)
                {
                    console.log('Minute edit element: ' + element.id);
                    element.addEventListener('change', function () {

                        console.log(element.id + ' min listener triggered');

                        minutes = parseInt(this.value);


                        var splitArray = element.id.split("minutesEdit");
                        console.log('Minutues split array: ' + splitArray[1]);
                        updateEditLengthInput(splitArray[1]);
                    });
                });

                var elementsSecEdit = document.getElementsByClassName('secondsEdit');
                elementsSecEdit = [].slice.call(elementsSecEdit);

                elementsSecEdit.forEach(function (element)
                {
                    console.log('Seconds edit element: ' + element.id);
                    element.addEventListener('change', function () {

                        console.log(element.id + ' sec listener triggered');

                        seconds = parseInt(this.value);
                        var splitArray = element.id.split("secondsEdit");
                        console.log('Seconds split array: ' + splitArray[1]);
                        updateEditLengthInput(splitArray[1]);
                    });
                });

                function updateEditLengthInput(trackId) {
                    var length = ((minutes * 60) + seconds);
                    console.log('Length: ' + length);
                    console.log('Length element to update: length' + trackId);
                    document.getElementById('length' + trackId).value = length;
                }
            }
        </script>

    </th:block>
</body>
</html>