<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/site"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>UMSpreadsheet</title>

    <link rel="stylesheet" th:href="@{/css/admin/editShow.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-duration-picker.css}"/>

    <style type="text/css">
        [ng\:cloak], [ng-cloak],
        .ng-cloak
        {
            display: none !important;
        }
    </style>

</head>

<body>
    <div layout:fragment="content" data-ng-app="UMspreadsheet">
        <div class="container">
            <h1 id="header-title">Spring Boot Angular Tutorial</h1>

            <!--<div data-ng-controller="home" ng-cloak class="ng-cloak">-->
                <!--<p>The ID is {{track.id}}</p>-->
                <!--<p>The content is {{track.song}}</p>-->
            <!--</div>-->
            <!--<hr/>-->
            <div data-ng-controller="ShowController" ng-cloak class="ng-cloak" data-ng-model="show">
                <p>The show ID is {{show.id}}</p>
                <p>The show city is {{show.city}}</p>
            </div>

            <hr/>

            <div data-ng-controller="TrackController" ng-cloak class="ng-cloak" data-ng-model="track">
                <p>The track ID is {{track.id}}</p>
                <p>The track name is {{track.song}}</p>
            </div>
        </div>





        <!--<div class="container" data-ng-controller="ShowController">-->

            <!--<h1 id="header-title">{{show.date + ' ' + show.city + ', ' + show.state}}</h1>-->

            <!--<div class="alert alert-info" role="alert" data-ng-hide="show">-->
                <!--There are no items yet.-->
            <!--</div>-->

            <!--<div data-ng-repeat="set in show.sets" class="col-xs-12"  style="background-color: #272D38;">-->
                <!--<p>{{set.name}}</p>-->

                <!--<form data-ng-repeat="track in set.tracks" data-ng-attr-id="{{'track-' + track.id}}" class="form"-->
                      <!--data-ng-controller="TrackController" role="form" data-ng-submit="addTrack(newTrack)">-->

                    <!--<div class="col-sm-5 col-md-3 form-group">-->
                        <!--<label data-ng-attr-for="{{'song-' + track.id }}">Song name:</label>-->
                        <!--<input data-ng-attr-id="{{'song-' + track.id }}" class="form-control" type="text" data-ng-model="track.song">-->
                    <!--</div>-->
                    <!--<div class="col-sm-4 col-md-2 form-group">-->
                        <!--<label data-ng-attr-for="{{'duration-' + track.id }}">Duration:</label>-->
                        <!--<input data-ng-attr-id="{{'duration-' + track.id }}" class="form-control duration" type="text">-->
                    <!--</div>-->

                    <!--<div class="radio">-->
                        <!--<label>-->
                            <!--<input type="radio" value="NONE" name="transition"-->
                                   <!--data-ng-model="track.transition" ng-change="updateTrack(track)" />None<br/>-->
                        <!--</label>-->
                        <!--<label>-->
                            <!--<input type="radio" value="ROUTINE" name="transition"-->
                                   <!--data-ng-model="track.transition" data-ng-change="updateTrack(track)" />&gt;<br/>-->
                        <!--</label>-->
                        <!--<label>-->
                            <!--<input type="radio" value="IMPROV" name="transition"-->
                                   <!--data-ng-model="track.transition" data-ng-change="updateTrack(track)" />&rarr;<br/>-->
                        <!--</label>-->
                    <!--</div>-->

                    <!--&lt;!&ndash;<div style="height: 81.6px; width: 40px; display: inline-block;">&ndash;&gt;-->
                        <!--&lt;!&ndash;<label class="checkbox-inline"><input type="checkbox">&gt;</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;<label class="checkbox-inline" style="margin-left: 0;"><input type="checkbox">-></label>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->

                    <!--&lt;!&ndash;<div class="input-group col-md-6">&ndash;&gt;-->
                        <!--&lt;!&ndash;<input type="text" class="form-control" data-ng-model="newTrack" placeholder="Enter the song name..." />&ndash;&gt;-->
                        <!--&lt;!&ndash;<span class="input-group-btn">&ndash;&gt;-->
                            <!--&lt;!&ndash;<button class="btn btn-default" type="submit" data-ng-disabled="!newTrack" title="Add">&ndash;&gt;-->
                                <!--&lt;!&ndash;<span class="glyphicon glyphicon-plus"></span>&ndash;&gt;-->
                            <!--&lt;!&ndash;</button>&ndash;&gt;-->
                        <!--&lt;!&ndash;</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    </div>


    <th:block layout:fragment="script">

        <script>
            $(function () {
                $('.duration').durationPicker({
                    showDays: false,
                    showHours: false,
                    showSeconds: true
//                    onChanged: function (newVal) {
////                        var elementId = this.id;
////                        var trackNumber = elementId.split('-')[1];
//
//                    }
                });

                $('#bdp-hours-label').parent().addClass('hidden');
            })
        </script>

        <script th:src="@{/webjars/angularjs/1.6.4/angular.min.js}"></script>
        <script th:src="@{/webjars/angular-route/1.6.4/angular-route.min.js}"></script>
        <script th:src="@{/webjars/angular-resource/1.6.4/angular-resource.min.js}"></script>


        <script th:src="@{/app/app.js}"></script>
        <script th:src="@{/app/services.js}"></script>
        <script th:src="@{/app/controllers.js}"></script>

        <script th:src="@{/js/bootstrap-duration-picker.js}"></script>
    </th:block>
</body>
</html>