<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/minimal"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <link href="css/custom/modular.css" th:href="@{/css/modular.css}" rel="stylesheet"/>
</head>

<body>

    <div layout:fragment="content">

        <div class="container-fluid">

            <div class="row modular-grid">

                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h1 class="panel-title pull-left top-show">2016/01/22 Milwaukee, WI</h1>
                            <h1 class="panel-title pull-right">
                                #1
                                <span class="fa fa-diamond"></span>
                            </h1>
                            <br />
                            <br />
                            <div class="row panel-container">
                                <div class="col-sm-8 setlist">
                                    <p>
                                        Set 1: Domino Theory, Loose Ends > Turn and Dub > Yoga Pants > The Linear,
                                        Example 1, Make It Right
                                    </p>
                                    <p>
                                        Set 2: The Triple Wide > Upward > 1000 Places to See Before You Die >
                                        Similar Skin, Lively Up Yourself, Robot World -> Front Porch >
                                        Muff II: The Revenge > Front Porch
                                    </p>
                                    <p>
                                        Encore: Orfeo, Waiting Room
                                    </p>
                                </div>
                                <div class="col-sm-4 data">
                                    <p>92.5</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6" th:each="track, iterStatus : ${topFiveSongs}">

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h1 class="panel-title top-song pull-left" th:text="${track.song}">In the Kitchen</h1>
                                <h1 class="panel-title pull-right">
                                    #
                                    <span th:text="${iterStatus.count}"></span>
                                    <span class="fa fa-diamond" th:if="${track.trackAverageRating >= 95}"></span>
                                    <span class="fa fa-trophy" th:if="${track.trackAverageRating ge 90 and
                                    track.trackAverageRating lt 95}"></span>
                                </h1>
                                <br />
                                <h1 class="panel-title">
                                    <span th:text="${track.show.date}">[date]</span>
                                    <span th:text="${track.show.city}">[city]</span>,
                                    <span th:text="${track.show.state}">[st]</span>
                                    <span th:text="${track.show.venue}">[venue]</span>
                                </h1>
                                <br />
                                <div class="panel-container">
                                    <p class="rating" th:text="${track.trackAverageRating}">[rating]</p>
                                </div>
                            </div>
                        </div>

                </div>

            </div>

        </div>

    </div>

</body>
</html>