<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/minimal"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <link href="css/custom/modular.css" th:href="@{/css/modular.css}" rel="stylesheet"/>
</head>

<body>

    <div layout:fragment="content">

        <div class="container">

            <div class="row modular-grid">
                <div class="col-xs-12">
                    <div class="panel panel-default top-show">
                        <div class="panel-heading">
                            <i class="fa fa-flag"></i>
                            <i class="fa fa-diamond"></i>
                            TOP SHOW
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="panel panel-default top-show">
                        <div class="panel-heading">
                            <i class="fa fa-flag"></i>
                            <i class="fa fa-diamond"></i>
                            TOP SONG
                        </div>
                        <div class="panel-body">
                            <p>[show and rating details]</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Panel Heading
                        </div>
                        <div class="panel-body">
                            <p>Panel Body</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Panel Heading
                        </div>
                        <div class="panel-body">
                            <p>Panel Body</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Panel Heading
                        </div>
                        <div class="panel-body">
                            <p>Panel Body</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row modular-grid">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Panel Heading
                        </div>
                        <div class="panel-body">
                            <p>Panel Body</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Panel Heading
                        </div>
                        <div class="panel-body">
                            <p>Panel Body</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Panel Heading
                        </div>
                        <div class="panel-body">
                            <p>Panel Body</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Panel Heading
                        </div>
                        <div class="panel-body">
                            <p>Panel Body</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</body>
</html>