<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/site"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>UMSpreadsheet</title>

    <link rel="stylesheet" th:href="@{/css/reviewsHome.css}"/>
</head>
<body>

    <div layout:fragment="content">
        <div class="container">
            <h1 id="title">Reviews</h1>

            <br>
            <br>
            <br>

            <div class="col-md-5">
                <h2>Shows</h2>

            </div>

            <div class="col-md-5">
                <h2>Songs</h2>

            </div>
            <div class="col-md-2">
                <h2>Show Filter</h2>

                <select>
                    <option value="">--Select Year--</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                    <option value="2008">2008</option>
                    <option value="2007">2007</option>
                    <option value="2006">2006</option>
                    <option value="2005">2005</option>
                    <option value="2004">2004</option>
                    <option value="2003">2003</option>
                    <option value="2002">2002</option>
                    <option value="2001">2001</option>
                    <option value="2000">2000</option>
                    <option value="1999">1999</option>
                    <option value="1998">1998</option>
                </select>

                <select>
                    <option value=''>--Select Month--</option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value='4'>April</option>
                    <option value='5'>May</option>
                    <option value='6'>June</option>
                    <option value='7'>July</option>
                    <option value='8'>August</option>
                    <option value='9'>September</option>
                    <option value='10'>October</option>
                    <option value='11'>November</option>
                    <option value='12'>December</option>
                </select>

                <select>
                    <option value="">--Select Day--</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                </select>

                <select>
                    <option value="">--Select Rating--</option>
                    <option value="diamond">Diamond (above 9.49)</option>
                    <option value="gold">Gold (9.00 to 9.49)</option>
                    <option value="silver">Silver (8.00 to 8.99)</option>
                    <option value="bronze">Bronze (7.00 to 7.99)</option>
                    <option value="unranked">None (under 7.00)</option>
                </select>

                <h2>Song Filter</h2>

                <select>
                    <option value="">--Select Year--</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                    <option value="2008">2008</option>
                    <option value="2007">2007</option>
                    <option value="2006">2006</option>
                    <option value="2005">2005</option>
                    <option value="2004">2004</option>
                    <option value="2003">2003</option>
                    <option value="2002">2002</option>
                    <option value="2001">2001</option>
                    <option value="2000">2000</option>
                    <option value="1999">1999</option>
                    <option value="1998">1998</option>
                </select>

                <select>
                    <option value=''>--Select Month--</option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value='4'>April</option>
                    <option value='5'>May</option>
                    <option value='6'>June</option>
                    <option value='7'>July</option>
                    <option value='8'>August</option>
                    <option value='9'>September</option>
                    <option value='10'>October</option>
                    <option value='11'>November</option>
                    <option value='12'>December</option>
                </select>

                <select>
                    <option value="">--Select Day--</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                </select>

                <select>
                    <option value="">--Select Rating--</option>
                    <option value="diamond">Diamond (above 9.49)</option>
                    <option value="gold">Gold (9.00 to 9.49)</option>
                    <option value="silver">Silver (8.00 to 8.99)</option>
                    <option value="bronze">Bronze (7.00 to 7.99)</option>
                    <option value="unranked">No medal (under 7.00)</option>
                </select>

                <select>
                    <option value="">--Select Jam Type--</option>
                    <option value="jimmy stewart">Jimmy Stewart</option>
                    <option value="jazz odyssey">Jazz Odyssey</option>
                    <option value="intro">Intro</option>
                </select>
            </div>
        </div>
    </div>

    <th:block layout:fragment="script">

    </th:block>
</body>
</html>