<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="/layouts/site"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>UMSpreadsheet</title>

    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=cqieblmr6k0j8t4uhgiiqd60k8c49x0ru3chyee3jh2ux6ys"></script>
    <script>
        tinymce.init({
            selector: "textarea",  // change this value according to your HTML
            plugins: "image, media, preview",
        });
    </script>

    <link rel="stylesheet" th:href="@{/css/topSongs.css}"/>
    <link rel="stylesheet" th:href="@{/css/wormblog/wormblog.css}"/>
</head>
<body>

<div layout:fragment="content">
    <div class="container">
        <h1 id="header-title" class="text-center">Post to WormBlog</h1>

        <form th:method="post" th:action="@{/admin/publish-post}" th:object="${post}">

            <div class="row">
                <div class="alert alert-danger col-md-6" th:if="${#fields.hasErrors('*')}">
                    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                </div>
            </div>

            <input type="hidden" th:field="*{slug}"/>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="title">Title</label>
                    <input id="title" type="text" class="form-control" th:field="*{title}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="body">Body</label>
                <textarea id="body" class="tinymce" rows="5" th:field="*{body}">body</textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

    </div>
</div>

<th:block layout:fragment="script">

</th:block>

</body>
