.comment-div
{
    background: #272D38;
    padding: 10px;
}

.comment-div iframe, .comment-div img
{
    max-width: 100%;
}

.comment-header-div
{
    border-bottom: solid thick darkgray;
}

.review-div .comment
{
    padding-left: 10px;
    padding-right: 10px;
}

.comment-header-div h3
{
    color: #C5B358;
    display: inline-block;
    margin-right: 10px;
}

.comment-header-div p
{
    display: inline-block;
}

.comment-body-div
{

}

.show-rating-and-medal
{
    margin-top: 0;
    margin-bottom: 0;
}

.track-div-trophy
{
    margin-right: 8px;
}
