/**********************
MAIN CONTENT COLUMN
**********************/

.main-content-column
{

}

.preview-post-div
{
    background: #272D38;
}

.preview-post-div iframe, .preview-post-div img
{
    max-width: 100%;
}

.preview-header-div
{
    border-bottom: solid thick darkgray;
}

.preview-header-div h3
{
    color: #C5B358;
    display: inline-block;
    margin-right: 10px;
}

.preview-header-div p
{
    display: inline-block;
}

.preview-body-div
{
    padding: 10px;
}

.tinymce
{
    max-width: 100%;
}

.icon-button
{
    background-color: transparent;
    border: none;
}

/**********************
SIDEBAR COLUMN
**********************/

@media (min-width: 992px)
{
    #sidebar
    {
        border-right: solid thin darkgray;
    }
}