.main
{
    display:table;
}

.center
{
    display:table-cell;
    vertical-align:middle;
}

#logo
{
    width: 150px;
    height: auto;
}

.trophy
{
    margin-left: 10px;
}

#rating-table
{
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
}
