<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/site"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>UMspreadsheet</title>

    <link rel="stylesheet" th:href="@{/css/user/profile.css}"/>

</head>
<body>

    <div layout:fragment="content">
        <div class="container">
            <h1 id="header-title" th:text="${user.username}">[username]</h1>

            <div class="row">
                <div class="profile-div dark-div col-md-2" style="text-align: center;">
                    <img th:src="@{/images/default-profile-pic.png}" style="height: 100%;"/>
                </div>
                <div id="bio" class="profile-div dark-div col-md-10">
                    <p th:if="${user.twitterHandle}">Twitter: <a th:href="@{'http://www.twitter.com/' + ${user.twitterHandle}}" th:text="${'@' + user.twitterHandle}"></a></p>
                    <p>Location: <span th:text="${user.location}"></span></p>
                    <p>Favorite songs: <span th:text="${user.favoriteSongs}"></span></p>
                    <p>Member since: <span th:text="${#dates.format(user.joinedOn, 'dd MMM yyyy')}"></span></p>
                    <p th:if="${#authentication.getName() == user.username}">
                        <a href="javascript:" data-toggle="modal" data-target="#edit-profile-modal">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </p>

                    <div id="edit-profile-modal" th:if="${#authentication.getName() == user.username}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content" style="background-color: #313131">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4>Update profile</h4>
                                </div>
                                <div class="row">
                                    <div class="modal-body col-sm-8 col-sm-offset-2">
                                        <form th:action="@{'/user/' + ${user.username}}" id="edit-profile-form"
                                              name="edit-profile-form" th:object="${userForm}" method="post">

                                            <div class="row">
                                                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                                                    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                                                </div>
                                            </div>

                                            <input type="hidden" name="username" th:value="${user.username}"/>
                                            <div class="form-group">
                                                <label class="control-label" for="twitterHandle">Twitter handle</label>
                                                <input th:placeholder="${#authentication.getName()}" type="text" class="form-control" id="twitterHandle"
                                                       name="twitterHandle" th:value="${user.twitterHandle}"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="twitterHandle">Location</label>
                                                <input placeholder="Omaha, NE" type="text" class="form-control" id="location"
                                                       name="location" th:value="${user.location}"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="favoriteSongs">Favorite songs</label>
                                                <input placeholder="Bob, Forks" type="text" class="form-control" id="favoriteSongs"
                                                       name="favoriteSongs" th:value="${user.favoriteSongs}"/>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer" style="text-align: center;">
                                    <button type="submit" class="btn btn-default" form="edit-profile-form">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="dark-div">
                    <h3>Latest Ratings</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Date</td>
                                <td>Song</td>
                                <td>Show</td>
                                <td>Rating</td>
                                <td>Comments</td>
                            </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="review, iterStat : ${user.trackReviews}" th:if="${iterStat.index < 8}">
                                <tr>
                                    <td th:text="${#dates.format(review.reviewedOn, 'dd MMM yyyy')}"></td>
                                    <td th:text="${review.track.song}"></td>
                                    <td th:text="${#dates.format(review.track.show.date, 'yyyy/MM/dd') + ' ' + review.track.show.city + ', ' + review.track.show.state}"></td>
                                    <td th:text="${review.score}"></td>
                                    <td>
                                        <span th:if="${review.comments}" th:text="${#strings.abbreviate(review.comments, 50)}"></span>
                                    </td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <th:block layout:fragment="script">
        <script type="text/javascript" th:if="${formErrors}">

            $('#edit-profile-modal').modal('show');

        </script>
    </th:block>

</body>
</html>