<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/site"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>UMSpreadsheet</title>

    <link rel="stylesheet" th:href="@{/css/show.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.min.css" />

</head>

<body>
    <div layout:fragment="content">
        <div id="#home-container" class="container">
            <h2 th:text="${#dates.format(show.date, 'yyyy/MM/dd') + ' ' + show.city + ', '  + show.state}"></h2>
            <h3 th:text="${show.venue}"></h3>
            <br/>
            <br/>
            <div th:if="${submitted == 'true'}" class="alert alert-success">
                Review successfully submitted!
            </div>
            <div th:if="${reviewDeleted == 'true'}" class="alert alert-success">
                Review successfully deleted.
            </div>
            <div th:if="${edited == 'true'}" class="alert alert-success">
                Review successfully edited.
            </div>
            <table id="show-set-table" class="table table-striped table-condensed" th:each="setEntry : ${trackAndReviewMap}">
                <h4 th:text="${setEntry.key}">Set 1</h4>
                <thead>
                    <tr>
                        <th>Song</th>
                        <th>Community Rating</th>
                        <th>My Rating</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="trackAndReviewEntry,iterStat : ${setEntry.value}"
                        th:class="${trackAndReviewEntry.value.id != null}? 'success'">
                        <td th:text="${trackAndReviewEntry.key.song}">[song]</td>
                        <td>[avg. rating]</td>
                        <td>
                            <!--<a th:if="${trackAndReviewEntry.value == null}" th:href="@{/user/review/track(trackId=${trackAndReviewEntry.key.id})}">-->
                            <form th:id="'track' + ${trackAndReviewEntry.key.id} + 'Form'" th:object="${trackReviewForm}" th:action="@{/reviews/shows/show}" method="post">
                                <input type="hidden" th:if="${trackAndReviewEntry.value.id != null}"
                                       th:value="${trackAndReviewEntry.value.id}" th:name="id" th:id="id" />
                                <input type="hidden" th:value="${trackAndReviewEntry.value.trackId}" th:name="trackId"
                                       th:id="trackId"/>
                                <input type="hidden" th:field="*{username}" />
                                <input th:id="'track' + ${trackAndReviewEntry.key.id}" class="bs-slider"
                                       th:name="score" data-slider-id='trackReviewSlider'
                                       type="text" data-slider-min="0" data-slider-max="10"
                                       data-slider-step="0.25" data-slider-value="0" />
                            </form>
                                <!-- <i class="fa fa-plus" aria-hidden="true" style="color: green;"></i> -->
                            <!--</a>-->
                        </td>
                        <td>
                            <a th:if="${trackAndReviewEntry.value != null}" th:href="@{/user/review/track(reviewId=${trackAndReviewEntry.value.id})}">
                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td>
                            <form th:if="${trackAndReviewEntry.value.id != null}" th:object="${trackAndReviewEntry.value}"
                                  th:action="@{/user/review(reviewId=${trackAndReviewEntry.value.id}, showId=${trackAndReviewEntry.key.show.id})}"
                                  th:method="delete" onclick="return confirm('Are you sure you want to delete this review?')">
                                <button type="submit" class="icon-button">
                                    <i class="fa fa-trash" aria-hidden="true" style="color: #B33A3A"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <th:block layout:fragment="script">
        <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/

            var trackIdMap = [[${trackIdMap}]];

            Object.keys(trackIdMap).forEach(function (key)
            {
                createSlider(key, trackIdMap[key])
            });

            function createSlider(trackId, score)
            {
                var mySlider = $('#track' + trackId).bootstrapSlider({
                    formatter: function (value)
                    {
                        return 'Current value: ' + value;
                    }
                });

                if (score != null)
                    mySlider.bootstrapSlider('setValue', score);
            }

            $(document).ready(function()
            {
                $(".bs-slider").on("slideStop", function (slideEvt)
                {
                    alert(slideEvt.target.id + 'Form');
                    $('#' + slideEvt.target.id + 'Form').submit();
                });
            });

            /*]]>*/
        </script>
    </th:block>
</body>
</html>