<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/site"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>UMSpreadsheet</title>

    <link rel="stylesheet" th:href="@{/css/showReview.css}">
</head>

<body>
    <div layout:fragment="content">
        <div class="container">
            <h2 th:text="${#dates.format(show.date, 'yyyy/MM/dd') + ' ' + show.city + ', '  + show.state}"></h2>
            <h3 th:text="${show.venue}"></h3>
            <br>
            <br>
            <div th:if="${submitted == 'true'}" class="alert alert-success">
                Review successfully submitted!
            </div>
            <div th:if="${reviewDeleted == 'true'}" class="alert alert-success">
                Review successfully deleted.
            </div>
            <div th:if="${edited == 'true'}" class="alert alert-success">
                Review successfully edited.
            </div>
            <table id="show-set-table" class="table table-striped table-condensed" th:each="setEntry : ${trackAndReviewMap}">
                <h4 th:text="${setEntry.key}">Set 1</h4>
                <thead>
                    <tr>
                        <th>Song</th>
                        <th>Rating</th>
                        <th>Review</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="trackAndReviewEntry,iterStat : ${setEntry.value}"
                        th:class="${trackAndReviewEntry.value != null}? 'success'">
                        <td th:text="${trackAndReviewEntry.key.song}">[song]</td>
                        <td th:text="(${trackAndReviewEntry.value == null}? '-' : ${trackAndReviewEntry.value.score})">[avg. rating]</td>
                        <td>
                            <a th:if="${trackAndReviewEntry.value == null}" th:href="@{/user/review/track(trackId=${trackAndReviewEntry.key.id})}">
                                <i class="fa fa-plus" aria-hidden="true" style="color: green;"></i>
                            </a>
                        </td>
                        <td>
                            <a th:if="${trackAndReviewEntry.value != null}" th:href="@{/user/review/track(reviewId=${trackAndReviewEntry.value.id})}">
                                <i class="fa fa-pencil" aria-hidden="true" style="color: #F0AD4E"></i>
                            </a>
                        </td>
                        <td>
                            <form th:if="${trackAndReviewEntry.value != null}" th:object="${trackAndReviewEntry.value}"
                                  th:action="@{/user/review(reviewId=${trackAndReviewEntry.value.id}, showId=${trackAndReviewEntry.key.show.id})}"
                                  th:method="delete" onclick="return confirm('Are you sure you want to delete this review?')">
                                <button type="submit" class="icon-button">
                                    <i class="fa fa-trash" aria-hidden="true" style="color: #B33A3A"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>