/*******************************
GOOGLE CHARTS
*******************************/
chart-data-div
{
    margin-left: auto;
    margin-right: auto;
}

[class*="chart_div"]
{
    width: 100%;
}

@media (min-width: 992px)
{
    #chart-data-div
    {
        border-left: thin solid #fff;
    }
}

@media (max-width: 991px)
{
    #most-recent-show-div
    {
        border-bottom: thin solid #fff;
        margin-bottom: 30px;
    }
}


/*******************************
HEADER
*******************************/
#header-div,
.logo-div
{
    padding-top: 50px;
}

#mobile-logo
{
    margin: auto;
}

/*******************************
MOST RECENT SHOW
*******************************/
#most-recent-show-header
{
    border-bottom: solid thick darkgray;
    padding-bottom: 5px;
}

#most-recent-show-header h4
{
    color: #F2C73A;
}

#most-recent-show-header a:link, a:visited
{
    text-decoration: none;
}

#most-recent-show-div #most-recent-show-header h4,
#most-recent-show-div #most-recent-show-header .rating-and-medal
{
    display: inline;
}

#most-recent-show-div .fa-trophy,
#most-recent-show-div .fa-diamond
{
    margin-right: 20px;
}

#most-recent-show-div #show-rating-and-medal
{
    margin-top: 0;
    margin-bottom: 0;
}