/*******************************
GOOGLE CHARTS
*******************************/
chart-data-div
{
    margin-left: auto;
    margin-right: auto;
}

[class*="chart_div"]
{
    width: 100%;
}

@media (min-width: 992px)
{
    #most-recent-show-div
    {
        border-right: thin solid #fff;
    }
}

@media (max-width: 991px)
{
    #most-recent-show-div
    {
        border-bottom: thin solid #fff;
        margin-bottom: 30px;
    }
}

#chart-data-div h2
{
    text-align: center;
}


/*******************************
HEADER
*******************************/
#header-div,
.logo-div
{
    padding-top: 20px;
}

#header-div
{
    text-align: center;
}

#header-title
{
    margin-top: 0;
}

#mobile-logo
{

}

/*******************************
MOST RECENT SHOW
*******************************/
#most-recent-show-header
{
    border-bottom: solid thick darkgray;
    padding-bottom: 5px;
}

#most-recent-show-header h4
{
    color: #C5B358;
}

#most-recent-show-header a:link, a:visited
{
    text-decoration: none;
}

#most-recent-show-div #most-recent-show-header h4,
#most-recent-show-div #most-recent-show-header .rating-and-medal
{
    display: inline;
}

#most-recent-show-div .fa-trophy,
#most-recent-show-div .fa-diamond
{
    margin-right: 20px;
}

#most-recent-show-div #show-rating-and-medal
{
    margin-top: 0;
    margin-bottom: 0;
}

.setlist-div
{
    padding-left: 35px;
    text-indent: -35px;
}

#most-recent-show-div h2
{
    text-align: center;
}

/******************************
D3 VISUALIZATIONS
******************************/
.d3-tip
{
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    text-align: center;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after
{
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after
{
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.bar:hover
{
    fill: #0080FF;
}