[class^="col-"], [class*="col-"]
{
    margin: 0;
    padding: 20px 10px 20px 10px;
}

[class*="fa-"]
{
    color: black;
}

[class*="-3"], [class*="-4"]
{
    color: ;
    padding-left: 10px;
    padding-right: 10px;
}

.panel
{
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 0;
    color: black;
    padding: 0 5px 0 5px;
}

.panel-title h1
{
    display: inline;
    color: black;
    font-size: 2em;
}

.top-show, .top-song
{
    font-weight: bold;
}

.panel-container
{
    border-bottom: 1px solid #2E3542;
}

.setlist, .data
{
    min-height: 200px;
}

.setlist p, .data p
{
    color: black;
}

.setlist p
{
    text-align: left;
}

.data p
{
    font-size: 35px;
}

.data h2, .fa-diamond
{
    color: black;
    text-align: center;
}

.rating
{
    color: black;
    font-size: 35px;
}

.row p
{
    color: black;
}