[class^="col-"], [class*="col-"]
{
    margin: 0;
    padding: 20px 10px 20px 10px;
    border-bottom: solid gainsboro;
}

.top-show .fa-trophy
{
    color: gold;
}

.top-show .fa-diamond
{
    color: #b9f2ff;
}

[class*="-3"], [class*="-4"]
{
    padding-left: 10px;
    padding-right: 10px;
}

.panel
{
    height: 300px;
    margin: 0;
    border: none;
    border-top:  5px solid grey;
    background-color: #2E3542;
}

.panel-heading
{
    background-image: -webkit-linear-gradient(330deg, grey 20%, #2E3542 20%);
    border-bottom: none;
    text-align: left;
    margin: 0;
    font-size: 20px;
    font-weight: bolder;
    padding: 5px;
}

.panel-default h4
{
    margin: 0;
    color: black;
}

.row p
{
    color: black;
}