h2
{
    color: white;
}

.table-striped tbody tr:nth-child(odd)
{
    background: white;
    color: black;
}

.table-striped tbody tr:nth-child(even)
{
    background: #F9F9F9;
    color: black;
}

th
{
    color: #F2C73A;
}