/***************************
TRACKLIST TABLE
***************************/
.disabled
{
    pointer-events: none;
    cursor: default;
    opacity: 0.4;
}

.show-set-table tbody
{
    margin-bottom: 40px;
    background-color: #272D38;
}

.set-row
{
    background-color: #313131;
}

.show-set-table .song-column-header
{
    font-size: 18px;
    font-weight: bolder;
}

form .icon-button
{
    background: none;
    border: none;
}

#trackReviewSlider .slider-selection
{
    background: #BABABA;
}

.slider-track
{
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3) !important;
}

.slider-handle
{
    background-image: none !important;
    /*background-color: #F2C73A !important;*/
}

[id*="SliderLabel"]
{

}

.slider
{
    width: 170px !important;
}


/******************************************
SHOW HEADER
******************************************/
#most-recent-show-header
{
    /*
    border-bottom: solid thick darkgray;
    padding-bottom: 5px;
    */
}

#most-recent-show-header h2
{
    color: #F2C73A;
}

#most-recent-show-header h2,
#most-recent-show-header .rating-and-medal
{
    display: inline;
}

@media (max-width: 767px)
{
    #most-recent-show-header
    {
        text-align: center;
    }
}

.fa-trophy,
.fa-diamond
{
    margin-right: 20px;
}

#show-rating-and-medal
{
    margin-top: 0;
    margin-bottom: 0;
}

@media (min-width: 768px)
{
    #show-rating-and-medal
    {
        float: right;
    }
}

[id*="track"] span
{
    margin-right: 20px;
}

/******************************************
SHOW SET NAME
******************************************/
.set-name
{
    color: #F2C73A;
}

/******************************************
USER REVIEWS
******************************************/
#user-reviews
{

}

/*****************************************
PERCENT BAR
*****************************************/
.span-percent-bar
{
    border-radius: 2px;
    background-color: white;
    height: 15px;
    display: block;
}