/*******************************
BODY
*******************************/
html,
body
{
    padding-top: 30px;
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: "Muli", sans-serif;
    color: #fff;
    background-color: #2E3542;
}

@media (min-width: 1200px)
{
    .container
    {
        width: 90%;
    }
}

@media (min-width: 768px)
{
    .container
    {
        width: 90%;
    }
}

@media (min-width: 992px)
{
    .container
    {
        width: 90%;
    }
}

#header-title
{
    font-family: "Julius Sans One", sans-serif;
    font-size: 40px;
    color: #C5B358;
}

#sub-header-title
{
    font-family: "Julius Sans One", sans-serif;
    font-size: 25px;
    margin-top: 1px;
}

@media (min-width: 768px)
{
    #header-statement
    {
        max-width: 60%;
    }
}

@media (max-width: 767px)
{
    #header-statement
    {
        max-width: 90%;
    }
}

#header-statement
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
}

.page-wrap
{
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -40px;
}

.page-wrap:after
{
    content: "";
    display: block;
}

.site-footer, .page-wrap:after
{
    height: 40px;
    padding-top: 20px;
}

    /*******************************
    NAVBAR
    *******************************/
    .navbar
    {
        border-bottom: none;
        background: #272D38;
        font-family: "Roboto Slab", serif;
    }

    .navbar-container
    {
    }

    #navbar
    {
    }

    .navbar-brand
    {
        padding: 0;
    }

    .navbar-brand>img
    {
        height: 100%;
        padding: 2px;
        width: auto;
    }

    .navbar-default .navbar-nav>li>a,
    .navbar-default .navbar-brand,
    .navbar-default .navbar-brand:hover,
    .dropdown-menu>li>a,
    .dropdown-menu>li>a:focus,
    .dropdown-menu>li>a:hover
    {
        color: #fff;
    }

    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>.dropdown>a:active,
    .navbar-default .navbar-nav>.dropdown>a:focus,
    .navbar-default .navbar-nav>.dropdown>a:visited,
    .navbar-default .navbar-nav>.dropdown-toggle>a,
    .dropdown-menu,
    .dropdown-menu:active,
    .dropdown-menu>li:hover,
    .dropdown-menu>li>a:focus,
    .dropdown-menu>li>a:hover,
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:active,
    .navbar-default .navbar-toggle:visited
    {
        color: #fff;
        background: rgba(0, 0, 0, 0.3);
    }

    .dropdown-menu
    {
        background: #272D38;
    }

    @media (max-width: 767px)
    {
        .navbar-default .navbar-nav .open .dropdown-menu>li>a,
        .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover
        {
            color: #fff;
        }

        .navbar-default .navbar-collapse
        {
            background: #272D38;
        }
    }

    .dark-div
    {
        background: #272D38;
        padding: 10px;
    }


/*******************************
SOCIAL SIGN UP BUTTON
*******************************/
.form-actions
{
    margin: 0;
    text-align: center;
}



/******************************
PERCENT WRAP
******************************/
.percent-wrap
{
    width: 15%;
}

/*****************************
MEDAL COLORS
*****************************/

.bronze
{
    color: #CD7F32;
}

.silver
{
    color: #C0C0C0;
}

.gold
{
    color: #FFD700;
}

.diamond
{
    color: #B9F2FF;
}