/*******************************
BODY
*******************************/
html,
body
{
    padding-top: 30px;
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: "Muli", sans-serif;
    color: #fff;
    background-color: #2E3542;
}

@media (min-width: 1200px)
{
    .container
    {
        width: 90%;
    }
}

@media (min-width: 768px)
{
    .container
    {
        width: 90%;
    }
}

@media (min-width: 992px)
{
    .container
    {
        width: 90%;
    }
}

#header-title
{
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    color: #F2C73A;
}

#header-statement
{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
}



    /*******************************
    NAVBAR
    *******************************/
    .navbar
    {
        border-bottom: none;
        background: rgba(0, 0, 0, 0.15);
        font-family: "Roboto Slab", serif;
    }

    .navbar-brand
    {
        padding: 0;
    }

    .navbar-brand>img
    {
        height: 100%;
        padding: 2px;
        width: auto;
    }

    .navbar-default .navbar-nav>li>a,
    .navbar-default .navbar-brand,
    .navbar-default .navbar-brand:hover,
    .dropdown-menu>li>a,
    .dropdown-menu>li>a:focus,
    .dropdown-menu>li>a:hover
    {
        color: #fff;
    }

    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>.dropdown>a:active,
    .navbar-default .navbar-nav>.dropdown>a:focus,
    .navbar-default .navbar-nav>.dropdown>a:visited,
    .navbar-default .navbar-nav>.dropdown-toggle>a,
    .dropdown-menu,
    .dropdown-menu:active,
    .dropdown-menu>li:hover,
    .dropdown-menu>li>a:focus,
    .dropdown-menu>li>a:hover,
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:active,
    .navbar-default .navbar-toggle:visited
    {
        color: #fff;
        background: rgba(0, 0, 0, 0.3);
    }

    @media (max-width: 767px)
    {
        .navbar-default .navbar-nav .open .dropdown-menu>li>a,
        .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover
        {
            color: #fff;
        }
    }


/*******************************
SOCIAL SIGN UP BUTTON
*******************************/
.form-actions
{
    margin: 0;
    text-align: center;
}