#header-title
{
    margin-bottom: 40px;
}

/*******************************
SONG
*******************************/
.show-div
{
    padding: 0 10px 0 10px;
}

.top-show
{
    background: #272D38;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.show-header
{
    border-bottom: solid thick darkgray;
    padding-bottom: 5px;
}

.show-header h4
{
    color: #F2C73A;
}

.show-header a:link, a:visited
{
    text-decoration: none;
}

.show-div .show-header h4,
.show-div .show-header .rating-and-medal
{
    display: inline;
}

.show-div .fa-trophy,
.show-div .fa-diamond
{
    margin-right: 20px;
}

.show-div .show-rating-and-medal
{
    margin-top: 0;
    margin-bottom: 0;
}


@media (min-width: 992px)
{
    .shows-div
    {
        border-right: solid thin darkgray;
    }
}

.show-url,
#reviews-table a
{
    text-decoration: none;
    color: #ffffff;
}

#reviews-table a:hover
{
    color: #23527c;
}


/*******************************
RIGHT DIV
*******************************/
.right-div h2
{
    margin-top: 0;
    text-align: center;
    color: #F2C73A;
}

select
{
    color: #000000;
}

.gray-btn
{
    background-color: darkgray;
}

#reviews-table
{
    width: 100%;
}

#reviews-table td
{
    padding: 0 20px 0 20px;
}