<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/site"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>UMspreadsheet</title>

    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!--<script type="text/javascript" th:inline="javascript">
        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            var topThreeSongs = [[${topThreeSongs}]];

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Song');
            data.addColumn('number', 'Rating');
            data.addColumn({type: 'string', role: 'style'});
            for (i = 0; i < topThreeSongs.length; i++)
            {
                data.addRow([topThreeSongs[i].song + ' | ' + topThreeSongs[i].show.date,
                    topThreeSongs[i].averageRating, 'opacity: 1; color: silver']);
            }

            // Set chart options
            var options = {
                'title':'Top Songs',
                'backgroundColor':'transparent',
                'titleTextStyle': {
                    'color':'white'
                },
                'vAxis': {
                    'textStyle': {
                        'color':'white'
                    }
                },
                'hAxis': {
                    'textStyle': {
                        'color':'white'
                    }
                },
                'legend':'none'
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.ColumnChart(
                document.getElementById('top_show_chart_div'));
            chart.draw(data, options);
        }
    </script>
    <script type="text/javascript" th:inline="javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            var topThreeShows = [[${topThreeShows}]];

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Show');
            data.addColumn('string', 'link');
            data.addColumn('number', 'Rating');
            data.addColumn({type: 'string', role: 'style'});
            for (i = 0; i < topThreeShows.length; i++)
            {
                data.addRow([topThreeShows[i].date + ' ' + topThreeShows[i].city + ', ' + topThreeShows[i].state,
                     window.location.href + '/shows/' + [topThreeShows[i].id] + '/' + [topThreeShows[i].slug],
                    topThreeShows[i].averageRating,
                    'opacity: 1; color: silver']);
            }

            // Set chart options
            var options = {
                'title':'Top Shows',
                'backgroundColor':'transparent',
                'titleTextStyle': {
                    'color':'white'
                },
                'vAxis': {
                    'textStyle': {
                        'color':'white'
                    }
                },
                'hAxis': {
                    'textStyle': {
                        'color':'white'
                    }
                },
                'legend':'none'
            };

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 2, 3]);

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.ColumnChart(
                document.getElementById('top_song_chart_div'));
            chart.draw(view, options);

            var selectHandler = function(e) {
                window.location = data.getValue(chart.getSelection()[0]['row'], 1);
            };

            google.visualization.events.addListener(chart, 'select', selectHandler);
        }

    </script>-->
</head>
<body>

    <div layout:fragment="content">
        <div class="container">
                <div id="header-div">
                    <img id="mobile-logo" th:src="@{/images/ums-logo-final.png}" style="width: 150px; height: auto;"/>
                    <h1 id="header-title" class="text-center">UM<span style="font-size: 23px;">Spreadsheet</span></h1>
                    <p id="header-statement">UMspreadsheet was created to serve as a community-based resource for umphreaks.
                        This resource allows participants to give a rating to every song over Umphrey's entire career in an
                        effort to create a rather unique view of the music we love.  The goal is to help people find and listen
                        to music that they may not have discovered on their own, plain and simple.</p>
                </div>
            <br/>
            <br/>
            <br/>
            <br/>

            <div class="row">
                <div id="most-recent-show-div" class="col-md-6">
                    <h2>Latest Shows</h2>
                    <div id="th-most-recent-show" th:each="show : ${lastThreeShows}" th:object="${show}">
                        <div id="most-recent-show-header">
                            <a th:href="@{'/shows/' + *{id} + '/' + *{slug}}">
                                <h4 id="show-title" th:text="*{#dates.format(date, 'yyyy/MM/dd') + ' ' + city + ', ' + state}">
                                    2017-02-03 Detroit, MI
                                </h4>
                            </a>
                            <h4 id="show-rating-and-medal" class="pull-right">
                                <i th:if="*{averageRating gt 6.99 and averageRating lt 8}" class="fa fa-trophy" style="color: #CD7F32;" aria-hidden="true"></i>
                                <i th:if="*{averageRating gt 7.99 and averageRating lt 9}" class="fa fa-trophy" style="color: #C0C0C0;" aria-hidden="true"></i>
                                <i th:if="*{averageRating gt 8.99 and averageRating lt 9.5}" class="fa fa-trophy" style="color: #FFD700;" aria-hidden="true"></i>
                                <i th:if="*{averageRating gt 9.49}" class="fa fa-diamond" style="color: #B9F2FF;" aria-hidden="true"></i>
                                <span th:if="*{averageRating != null}" th:text="*{#numbers.formatDecimal(averageRating, 1, 2)}">[0.00]</span>
                                <span th:if="*{averageRating == null}">No Rating</span>
                            </h4>
                        </div>
                        <div class="setlist-div">
                            <h6 th:each="set : *{sets}" th:object="${set}">
                                <strong th:text="${set.name + ':'}" style="color: #F2C73A;"></strong>
                                <th:block th:each="track,iterStat : *{tracks}" >
                                    <span th:text="${track.song}"></span><span th:if="${track.segue and !iterStat.last}"> > </span><span th:if="${!track.segue and !track.fluidSegue and !iterStat.last}">,&nbsp;</span><span th:if="${track.fluidSegue}">&nbsp;->&nbsp;</span>
                                </th:block>
                            </h6>
                        </div>

                        <a th:href="@{/shows/reviews(showId=*{id})}">
                            <h5 th:text="${show.numberOfReviews} + (${show.numberOfReviews} == 1? ' Rating': ' Ratings')"
                                style="text-align: center; font-weight: bold">
                            </h5>
                        </a>
                        <br/>
                    </div>
                </div>
                <div id="chart-data-div" class="col-md-6">
                    <h2>Top Rated</h2>
                    <div class="row">
                        <div id="top_show_chart_div" style="height: 200px; text-align: center;">

                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div id="top_song_chart_div" style="height: 200px; text-align: center;">
                            <svg>

                            </svg>
                        </div>
                    </div>
                </div>

                <script th:inline="javascript">

                    console.log("Show div: " + document.getElementById("top_show_chart_div").offsetWidth);

                    var topThreeShows = [[${topThreeShows}]];
                    var maxRating = d3.max(topThreeShows, function (d) { return d.averageRating; });

                    var width = parseInt(d3.select("#top_show_chart_div").style("width")) - 30;
                    var height = parseInt(d3.select("#top_show_chart_div").style("height"));

                    var xScale = d3.scaleLinear()
                        .domain([0, maxRating])
                        .range([0, width]);

//                    var colorScale = d3.scaleLinear()
//                        .domain([0, maxRating])
//                        .range(["white", "grey"]);

                    var xAxis = d3.axisBottom(xScale);

                    var graph = d3.select("#top_show_chart_div")
                        .append("svg")
                        .attr("id", "top-show-graph")
                        .attr("width", width)
                        .attr("height", height)
                        .append("g");

                    var bars = graph.selectAll("rect")
                        .data(topThreeShows)
                        .enter()
                            .append("rect")
                            .attr("width", function (d) { return xScale(d.averageRating) })
                            .attr("height", 15)
                            .attr("fill", "grey")
                            .attr("y", function (d, i) { return (i * 35) + "%" });

                    graph.append("g")
                        .attr("id", "xAxis")
                        .attr("transform", "translate(0, " + (height - 20) + ")")
                        .call(xAxis);


                    
                    function resize()
                    {
                        // Find new dimensions
                        width = parseInt(d3.select("#top_show_chart_div").style("width")) - 30;
                        height = parseInt(d3.select("#top_show_chart_div").style("height"));

                        d3.select("#top-show-graph")
                            .attr("width", width);

                        console.log(width + "x" + height);

                        xScale = d3.scaleLinear()
                            .domain([0, maxRating])
                            .range([0, width]);

                        xAxis.scale(xScale);

                        graph.call(xAxis);

                        graph.selectAll("rect")
                            .data(topThreeShows)
                            .attr("width", function (d) { return xScale(d.averageRating) });
                    }

                    d3.select(window).on("resize", resize);

                </script>
            </div>
        </div>

    </div>

</body>
</html>