<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:replace="~{site :: layout(~{::head}, ~{::content})}">
<head th:fragment="head">
    <title>Bloop</title>

    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.js"></script>
</head>
<body>

    <div th:fragment="content">
        <div class="container">
                <div id="header-div">
                    <img id="mobile-logo" th:src="@{/images/ums-logo-final.png}" style="width: 150px; height: auto;"/>
                    <h1 id="header-title" class="text-center">UM<span style="font-size: 23px;">Spreadsheet</span></h1>
                    <p id="header-statement">UMspreadsheet was created to serve as a community-based resource for umphreaks.
                        This resource allows participants to give a rating to every song over Umphrey's entire career in an
                        effort to create a rather unique view of the music we love.  The goal is to help people find and listen
                        to music that they may not have discovered on their own, plain and simple.</p>
                </div>
            <br/>
            <br/>

            <div class="row">
                <div id="most-recent-show-div" class="col-md-6">
                    <h2>Latest Shows</h2>
                    <div id="th-most-recent-show" th:each="show : ${lastThreeShows}" th:object="${show}">
                        <div id="most-recent-show-header">
                            <a th:href="@{'/shows/' + *{id} + '/' + *{slug}}">
                                <h4 id="show-title" th:text="*{#dates.format(date, 'yyyy/MM/dd') + ' ' + city + ', ' + state}">
                                    2017-02-03 Detroit, MI
                                </h4>
                            </a>
                            <h4 id="show-rating-and-medal" class="pull-right">
                                <i th:if="*{averageRating ge 6 and averageRating lt 7}" class="fa fa-trophy" style="color: #CD7F32;" aria-hidden="true"></i>
                                <i th:if="*{averageRating ge 7 and averageRating lt 8}" class="fa fa-trophy" style="color: #C0C0C0;" aria-hidden="true"></i>
                                <i th:if="*{averageRating ge 8 and averageRating lt 9}" class="fa fa-trophy" style="color: #FFD700;" aria-hidden="true"></i>
                                <i th:if="*{averageRating ge 9}" class="fa fa-diamond" style="color: #B9F2FF;" aria-hidden="true"></i>
                                <span th:if="*{averageRating != null}" th:text="*{#numbers.formatDecimal(averageRating, 1, 2)}">[0.00]</span>
                                <span th:if="*{averageRating == null}">No Rating</span>
                            </h4>
                        </div>
                        <div class="setlist-div">
                            <h6 th:each="set : *{sets}" th:object="${set}">
                            <strong th:text="${set.name + ': '}" style="color: #C5B358;"></strong><!--
                            --><th:block th:each="track, iterStat : *{tracks}" ><!--
                                    --><span th:text="${track.song}"></span><!--
                                    --><span th:if="${track.transition == T(com.umspreadsheet.v1.model.Transition).NONE and !iterStat.last}">,</span><!--
                                    --><span th:if="${track.transition == T(com.umspreadsheet.v1.model.Transition).ROUTINE}">&nbsp;&gt;</span><!--
                                    --><span th:if="${track.transition == T(com.umspreadsheet.v1.model.Transition).IMPROV}">&rarr;</span>
                                </th:block>
                            </h6>
                        </div>

                        <a th:href="@{/shows/reviews(showId=*{id})}">
                            <h5 th:text="${show.numberOfReviews} + (${show.numberOfReviews} == 1? ' Rating': ' Ratings')"
                                style="text-align: center; font-weight: bold">
                            </h5>
                        </a>
                        <br/>
                    </div>
                </div>
                <div id="chart-data-div" class="col-md-6">
                    <div class="row" style="margin: 0">
                        <h2>Top Shows</h2>
                        <div id="top_show_chart_div" style="height: 180px; text-align: center;">
                        </div>
                    </div>
                    <br/>
                    <div class="row" style="margin: 0;">
                        <h2>Top Songs</h2>
                        <div id="top_song_chart_div" style="height: 180px; text-align: center;">
                        </div>
                    </div>
                </div>

                <script th:inline="javascript">

                    var showsGraph = new ShowGraph();
                    var songsGraph = new SongGraph();

                    var roundToTwoPlaces = d3.format(".2f");
                    var dateFormat = d3.timeFormat("%b %e, %y");

                    window.onload = function ()
                    {
                        showsGraph.create();
                        songsGraph.create();
                    };

                    d3.select(window).on("resize", resize);

                    function resize()
                    {
                        showsGraph.resize();
                        songsGraph.resize();
                    }

                    function ShowGraph()
                    {
                        var topTenShows,
                            topTenShowsSize,
                            maxRating,
                            minRating,
                            width,
                            height,
                            barWidth,
                            yScale,
                            yAxis,
                            graph,
                            toolTip,
                            bars,
                            labels;

                        this.create = function ()
                        {
                            topTenShows = [[${topTenShows}]];
                            topTenShowsSize = topTenShows.length;
                            maxRating = d3.max(topTenShows, function (d) { return d.averageRating; });
                            minRating = d3.min(topTenShows, function (d) { return d.averageRating; });

                            width = parseInt(d3.select("#top_show_chart_div").style("width"));
                            height = parseInt(d3.select("#top_show_chart_div").style("height"));

                            barWidth = (width / 2) / topTenShowsSize;

                            yScale = d3.scaleLinear()
                                .domain([minRating * 0.90, maxRating])
                                .range([0, height]);

                            yAxis = d3.axisLeft(yScale);

                            graph = d3.select("#top_show_chart_div")
                                .append("svg")
                                .attr("id", "top-show-graph")
                                .attr("width", width)
                                .attr("height", height);

                            toolTip = d3.tip()
                                .attr("class", 'd3-tip')
                                .offset([-10, 0])
                                .html(function (d) {
                                    var text = "<p>" + roundToTwoPlaces(d.averageRating) + "</p><p style='color:#0080FF'>" + mySqlToJsDate(d) + " <span style='color: white'>" + d.city + ", " + d.state
                                        + "</span></p><p>" + d.venue + "</p>";

                                    return text;
                                });

                            function mySqlToJsDate(d)
                            {
                                var dateParts = d.date.split("-");
                                 return dateFormat(new Date(dateParts[0], dateParts[1] - 1, dateParts[2].substr(0, 2)));
                            }

                            graph.call(toolTip);

                            bars = graph.selectAll("rect")
                                .data(topTenShows)
                                .enter()
                                .append("rect")
                                .attr("class", "bar")
                                .attr("width", barWidth)
                                .attr("height", 0)
                                .attr("fill", function (d) {
                                    var color = "orangered";
                                    var averageRating = d.averageRating;

                                    if (averageRating >= 9)
                                        color = "#B9F2FF";
                                    if (averageRating >= 8 && averageRating < 9)
                                        color = "#FFD700";
                                    if (averageRating >= 7 && averageRating < 8)
                                        color = "#C0C0C0";
                                    if (averageRating >= 6 && averageRating < 7)
                                        color = "#CD7F32";

                                    return color;
                                })
                                .attr("y", height)
                                .attr("x", function (d, i) {
                                    return (2 * barWidth * i)
                                })
                                .on("mouseover", toolTip.show)
                                .on("mouseout", toolTip.hide)
                                .on("click", function (d) {
                                    var url = window.location + "shows/" + d.id + "/" + d.slug;
                                    window.location = url;
                                });

                               bars
                                   .data(topTenShows)
                                   .transition()
                                   .delay(function (d, i) {
                                       return (i * 50)
                                   })
                                   .duration(1000)
                                   .attr("y", function (d) {
                                       return height - (yScale(d.averageRating))
                                   })
                                   .attr("height", function (d) {
                                       return yScale(d.averageRating)
                                   });

                               labels = graph.selectAll("text")
                                   .data(topTenShows)
                                   .enter()
                                   .append("text")
                                   .classed("bar-label", true)
                                   .text(function (d) {
                                       return roundToTwoPlaces(d.averageRating)
                                   })
                                   .attr("fill", "black")
                                   .style("font-size", "0px")
                                   .attr("y", height)
                                   .attr("x", function (d, i) {
                                       return (2 * barWidth * i) + 5;
                                   });

                               labels
                                   .data(topTenShows)
                                   .transition()
                                   .delay(function (d, i) {
                                       return (i * 50)
                                   })
                                   .duration(1000)
                                   .style("font-size", "11px")
                                   .attr("y", function (d) {
                                       return height - (yScale(d.averageRating) - 10)
                                   })
                                   .attr("x", function (d, i) {
                                       return (2 * barWidth * i) + 5;
                                   });
                           };

                        this.resize = function ()
                        {
                            // Find new dimensions
                            width = parseInt(d3.select("#top_show_chart_div").style("width"));
                            height = parseInt(d3.select("#top_show_chart_div").style("height"));

                            barWidth = (width / 2) / topTenShowsSize;

                            graph
                                .attr("width", width);

                            yScale = d3.scaleLinear()
                                .domain([minRating * 0.90, maxRating])
                                .range([0, height]);

                            yAxis.scale(yScale);

                            bars
                                .data(topTenShows)
                                .attr("width", barWidth)
                                .attr("x", function (d, i) {
                                    return (2 * barWidth * i)
                                })
                                .attr("height", function (d) {
                                    return yScale(d.averageRating)
                                });

                            labels
                                .data(topTenShows)
                                .attr("y", function (d) {
                                    return height - (yScale(d.averageRating) - 10)
                                })
                                .attr("x", function (d, i) {
                                    return (2 * barWidth * i) + 5;
                                });
                        }
                    }

                    function SongGraph()
                    {
                        var topTenSongs,
                            topTenSongsSize,
                            maxRating,
                            minRating,
                            width,
                            height,
                            barWidth,
                            yScale,
                            yAxis,
                            graph,
                            toolTip,
                            bars,
                            labels;

                        this.create = function createSongGraph()
                        {
                            topTenSongs = [[${topTenSongs}]];
                            topTenSongsSize = topTenSongs.length;
                            maxRating = d3.max(topTenSongs, function (d) { return d.averageRating; });
                            minRating = d3.min(topTenSongs, function (d) { return d.averageRating; });

                            width = parseInt(d3.select("#top_song_chart_div").style("width"));
                            height = parseInt(d3.select("#top_song_chart_div").style("height"));

                            barWidth = (width / 2) / topTenSongsSize;

                            yScale = d3.scaleLinear()
                                .domain([minRating * 0.90, maxRating])
                                .range([0, height]);

                            yAxis = d3.axisLeft(yScale);

                            graph = d3.select("#top_song_chart_div")
                                .append("svg")
                                .attr("id", "top-song-graph")
                                .attr("width", width)
                                .attr("height", height);

                            toolTip = d3.tip()
                                .attr("class", 'd3-tip')
                                .offset([-10, 0])
                                .html(function (d)
                                {
                                    var text = "<p>" + roundToTwoPlaces(d.averageRating) + "</p><p>" + d.song + "</p><p style='color:#0080FF'>" + mySqlToJsDate(d) + " <span style='color: white'>" + d.show.city + ", " + d.show.state
                                        + "</span></p><p>" + d.show.venue + "</p>";

                                    return text;
                                });

                            function mySqlToJsDate(d)
                            {
                                var dateParts = d.show.date.split("-");

                                return dateFormat(new Date(dateParts[0], dateParts[1] - 1, dateParts[2].substr(0, 2)));
                            }

                            graph.call(toolTip);

                            bars = graph.selectAll("rect")
                                .data(topTenSongs)
                                .enter()
                                .append("rect")
                                .attr("class", "bar")
                                .attr("width", barWidth)
                                .attr("height", 0)
                                .attr("fill", function (d) {
                                    var color = "orangered";
                                    var averageRating = d.averageRating;

                                    if (averageRating >= 9)
                                        color = "#B9F2FF";
                                    if (averageRating >= 8 && averageRating < 9 )
                                        color = "#FFD700";
                                    if (averageRating >= 7 && averageRating < 8)
                                        color = "#C0C0C0";
                                    if (averageRating >= 6 && averageRating < 7)
                                        color = "#CD7F32";

                                    return color;
                                })
                                .attr("y", height)
                                .attr("x", function (d, i) { return (2 * barWidth * i) })
                                .on("mouseover", toolTip.show)
                                .on("mouseout", toolTip.hide)
                                .on("click", function (d) {
                                    var url = window.location + "shows/" + d.show.id + "/" + d.show.slug;
                                    window.location = url;
                                });

                            bars
                                .data(topTenSongs)
                                .transition()
                                .delay(function (d, i) { return (i * 50) })
                                .duration(1000)
                                .attr("y", function (d) { return height - (yScale(d.averageRating)) })
                                .attr("height", function (d) { return yScale(d.averageRating) });

                            labels = graph.selectAll("text")
                                .data(topTenSongs)
                                .enter()
                                .append("text")
                                .classed("bar-label", true)
                                .text(function (d) { return roundToTwoPlaces(d.averageRating) })
                                .attr("fill", "black")
                                .style("font-size", "0px")
                                .attr("y", height)
                                .attr("x", function (d, i) { return (2 * barWidth * i) + 5 });

                            labels
                                .data(topTenSongs)
                                .transition()
                                .delay(function (d, i) { return (i * 50) })
                                .duration(1000)
                                .style("font-size", "11px")
                                .attr("y", function (d) { return height - (yScale(d.averageRating) - 10) })
                                .attr("x", function (d, i) { return (2 * barWidth * i) + 5});
                        };

                        this.resize = function ()
                        {
                            console.log("resizeSongs() called");

                            // Find new dimensions
                            width = parseInt(d3.select("#top_song_chart_div").style("width"));
                            height = parseInt(d3.select("#top_song_chart_div").style("height"));

                            console.log('New song chart div: ' + width + 'x' + height);

                            barWidth = (width / 2) / topTenSongsSize;

                            graph
                                .attr("width", width);

                            yScale = d3.scaleLinear()
                                .domain([minRating * 0.90, maxRating])
                                .range([0, height]);

                            yAxis.scale(yScale);

                            bars
                                .data(topTenSongs)
                                .attr("width", barWidth)
                                .attr("x", function (d, i) { return (2 * barWidth * i) })
                                .attr("height", function (d) { return yScale(d.averageRating) });

                            labels
                                .data(topTenSongs)
                                .attr("y", function (d) { return height - (yScale(d.averageRating) - 10) })
                                .attr("x", function (d, i) { return (2 * barWidth * i) + 5 });
                        }
                    }

                </script>

            </div>
        </div>

    </div>

</body>
</html>