<!DOCTYPE html>
<layout:html lang="en"
             layout:decorator="layouts/main"
             xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <title>UMSpreadsheet</title>

        <link th:href="@{/css/showlist.css}" rel="stylesheet"/>
    </head>
    <body>
    <div layout:fragment="content">

        <div class="container custom-body">

            <h2>Recently Reviewed</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Venue</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="show : ${shows}">
                        <td th:text="${show.date}">[id]</td>
                        <td th:text="${show.city}">[city]</td>
                        <td th:text="${show.state}">[ST]</td>
                        <td th:text="${show.venue}">[venue]</td>
                    </tr>
                </tbody>
            </table>

        </div> <!-- /container -->

    </div>
    </body>
</layout:html>