<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/site"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>UMspreadsheet</title>

    <link rel="stylesheet" th:href="@{/css/show/newShow.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.min.css" />

</head>

<body>
    <div layout:fragment="content" data-ng-app="UMspreadsheet">
        <div class="container" data-ng-controller="ShowController" ng-cloak="">

            <h1 id="header-title">{{ (show.date | date:'yyyy/MM/dd') + ' ' + show.city + ', ' + show.state }}</h1>
            <h1 id="sub-header-title" style="margin-top: 1px;">{{ show.venue }}</h1>

            <br/>

            <div data-ng-repeat="set in show.sets | orderBy: '+position'" data-ng-controller="SetController"
                 class="row set-div" equal-heights>

                <p class="set-name">{{set.name}}</p>

                <div data-ng-repeat="track in set.tracks | orderBy: '+setPosition'" class="col-sm-4 col-md-2 col-xl-2 track-div">

                    <div class="col-md-12 dark-div text-center">
                        <p class="song-name">{{track.song}}</p>
                        <p data-ng-if="track.length">{{ (track.length | secondsToMinSec) }}</p>
                        <p data-ng-if="track.type">{{ track.type | capitalize }}</p>
                        <p data-ng-if="track.jam">{{ track.jam | capitalize }}</p>
                        <p>{{ track.averageRating != null ?  (track.averageRating | number: 2) : 'Not rated' }}</p>

                        <form sec:authorize="isAuthenticated()" data-ng-controller="TrackReviewController">

                            <input data-ng-model="track.userTrackReview.score"
                                   data-ng-change="track.userTrackReview.id == null ? addTrackReview(track.userTrackReview) : updateTrackReview(track.userTrackReview)"
                                   create-slider class="bs-slider" type="number" data-slider-min="0" data-slider-max="10"
                                   data-slider-step="0.25" data-slider-value="0" data-slider-tooltip="hide" />

                        </form>

                    </div>
                </div>

            </div>

            <!--<div id="most-recent-show-header" th:object="${show}">-->
                <!--<h2 id="show-title" th:text="${#dates.format(show.date, 'yyyy/MM/dd') + ' ' + show.city + ', '  + show.state}"></h2>-->
                <!--<h3 class="hidden-md hidden-lg hidden-xl" th:text="${show.venue}" style="margin-top: 3px; margin-bottom: 2px;">[venue]</h3>-->
                <!--<h2 id="show-rating-and-medal">-->
                    <!--<i th:if="*{averageRating ge 6 and averageRating lt 7}" class="fa fa-trophy" style="color: #CD7F32;" aria-hidden="true"></i>-->
                    <!--<i th:if="*{averageRating ge 7 and averageRating lt 8}" class="fa fa-trophy" style="color: #C0C0C0;" aria-hidden="true"></i>-->
                    <!--<i th:if="*{averageRating ge 8 and averageRating lt 9}" class="fa fa-trophy" style="color: #FFD700;" aria-hidden="true"></i>-->
                    <!--<i th:if="*{averageRating ge 9}" class="fa fa-diamond" style="color: #B9F2FF;" aria-hidden="true"></i>-->
                    <!--<span th:if="*{averageRating != null}" th:text="*{#numbers.formatDecimal(averageRating, 1, 2)}">[0.00]</span>-->
                    <!--<span th:if="*{averageRating == null}">No Rating</span>-->
                <!--</h2>-->
                <!--<h3 class="hidden-xs hidden-sm" th:text="${show.venue}" style="margin-top: 3px;">[venue]</h3>-->
                <!--<p th:if="${show.nugsId != null}">-->
                    <!--<a th:href="@{https://play.nugs.net/#/catalog/recording/} + ${show.nugsId}" data-ng-model="show.nugsId">-->
                        <!--nugs.net-->
                    <!--</a>-->
                <!--</p>-->
                <!--<p sec:authorize="hasRole('ROLE_MANAGE_SHOWS_PRIVILEGE')">-->
                    <!--<a th:href="@{/admin/edit-show(showId=${show.id})}">-->
                        <!--Edit show-->
                    <!--</a>-->
                <!--</p>-->
            <!--</div>-->









        </div>
    </div>

    <th:block layout:fragment="script">

        <script type="text/javascript" th:inline="javascript">
            var showId = [[${show.id}]];
        </script>

        <script th:src="@{/webjars/angularjs/1.6.4/angular.min.js}"></script>
        <script th:src="@{/webjars/angular-route/1.6.4/angular-route.min.js}"></script>
        <script th:src="@{/webjars/angular-resource/1.6.4/angular-resource.min.js}"></script>

        <script type="text/javascript" th:src="@{/js/app/app.js}"></script>
        <script type="text/javascript" th:src="@{/js/app/services.js}"></script>
        <script type="text/javascript" th:src="@{/js/app/controllers.js}"></script>

    </th:block>

</body>
</html>