<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/site"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>UMspreadsheet</title>

    <link rel="stylesheet" th:href="@{/css/show/newShow.css}" />
    <link rel="stylesheet" th:href="@{/css/avgrund/avgrund.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.min.css" />

</head>

<body>
    <div layout:fragment="content" data-ng-app="UMspreadsheet" data-ng-cloak>
        <div class="container" data-ng-controller="ShowController">

            <div class="col-sm-8 title-header-div">
                <h1 id="header-title">{{ (show.date | date:'yyyy/MM/dd') + ' ' + show.city + ', ' + show.state }}</h1>
                <h1 id="sub-header-title" style="margin-top: 1px;">{{ show.venue }}</h1>
            </div>

            <div class="col-sm-4 trophy-header-div">
                <h1 class="trophy-header">
                    <i data-ng-if="show.averageRating >= 6 && show.averageRating < 7"
                       class="fa fa-trophy bronze track-div-trophy" aria-hidden="true"></i>
                    <i data-ng-if="show.averageRating >= 7 && show.averageRating < 8"
                       class="fa fa-trophy silver track-div-trophy" aria-hidden="true"></i>
                    <i data-ng-if="show.averageRating >= 8 && show.averageRating < 9"
                       class="fa fa-trophy gold track-div-trophy" aria-hidden="true"></i>
                    <i data-ng-if="show.averageRating >= 9"
                       class="fa fa-diamond diamond track-div-trophy" aria-hidden="true"></i>
                    {{ show.averageRating != null ?  (show.averageRating | number: 2) : 'Not rated' }}
                </h1>
            </div>

            <div class="row">
                <p style="padding-left: 30px" class="col-xs-12" sec:authorize="hasRole('ROLE_MANAGE_SHOWS_PRIVILEGE')">
                    <a data-ng-href="/admin/edit-show?showId={{show.id}}">
                        Edit show
                    </a>
                </p>
            </div>

            <br/>

            <div data-ng-repeat="set in show.sets | orderBy: '+position'" data-ng-controller="SetController"
                 class="row set-div" equal-heights>

                <p class="set-name">{{set.name}}</p>

                <div data-ng-repeat="track in set.tracks | orderBy: '+setPosition'" class="col-xs-12 track-div">

                    <div class="col-md-12 dark-div">
                        <div class="col-md-3 col-lg-4">
                            <p class="song-name">{{track.song}}
                                <span data-ng-if="track.transition == 'NONE'"></span>
                                <span data-ng-if="track.transition == 'ROUTINE'">&gt;</span>
                                <span data-ng-if="track.transition == 'IMPROV'">&rarr;</span>
                            </p>
                        </div>
                        <div class="col-md-1 col-lg-1 text-right">
                            <p>
                                <i data-ng-if="track.averageRating >= 6 && track.averageRating < 7"
                                   class="fa fa-trophy bronze track-div-trophy" aria-hidden="true"></i>
                                <i data-ng-if="track.averageRating >= 7 && track.averageRating < 8"
                                   class="fa fa-trophy silver track-div-trophy" aria-hidden="true"></i>
                                <i data-ng-if="track.averageRating >= 8 && track.averageRating < 9"
                                   class="fa fa-trophy gold track-div-trophy" aria-hidden="true"></i>
                                <i data-ng-if="track.averageRating >= 9"
                                   class="fa fa-diamond diamond track-div-trophy" aria-hidden="true"></i>
                                {{ track.averageRating != null ?  (track.averageRating | number: 2) : 'Not rated' }}
                            </p>
                        </div>
                        <div class="col-md-1 text-right">
                            <p>{{ track.length != null ? (track.length | secondsToMinSec) : '&nbsp;' }}</p>
                        </div>
                        <div class="col-md-2 col-lg-1 text-left">
                            <p>{{ track.jam != null ? (track.jam | capitalize) : '&nbsp;' }}</p>
                        </div>
                        <div class="col-md-2 col-lg-1 text-left">
                            <p>{{ track.type != null ? (track.type | formatType) : '&nbsp;' }}</p>
                        </div>

                        <form sec:authorize="isAuthenticated()" data-ng-controller="TrackReviewController">

                            <div class="col-md-4 text-center">
                                <div class="col-xs-11">
                                    <input data-ng-model="track.userTrackReview.score"
                                           data-ng-change="track.userTrackReview.id == null ? addTrackReview(track.userTrackReview) : updateTrackReview(track.userTrackReview)"
                                           create-slider class="bs-slider" type="number" data-slider-min="0" data-slider-max="10"
                                           data-slider-step="0.25" data-slider-value="0" data-slider-tooltip="hide" data-ng-model-options="{debounce: 300}"/>
                                </div>

                                <div class="col-xs-1 text-center">
                                    <a href="#"
                                       data-ng-style="!track.userTrackReview.id ? { 'display' : 'none' } : ''">
                                        <i create-comment-modal class="fa fa-comment-o" aria-hidden="true"></i>
                                    </a>
                                    <div style="display: none">
                                        <div style="height: 90%;">
                                            <label style="color: black">{{ track.song }}</label>
                                            <textarea class="form-control" rows="1"
                                                      data-ng-model="track.userTrackReview.comment"
                                                      placeholder="That's just like your opinion, man..."
                                                      data-ng-change="updateTrackReview(track.userTrackReview)"
                                                      data-ng-model-options="{debounce: 750}" style="height: 90%;"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </form>

                    </div>
                </div>

            </div>

            <p class="set-name">Recent Ratings</p>
            <div data-ng-controller="TrackReviewController" data-ng-init="getRecentReviews()" class="col-md-6">

                <div data-ng-repeat="review in recentReviews" class="all-reviews-div">

                    <div class="col-xs-12 dark-div review-div">
                        <div class="col-xs-10">
                            <p class="username">
                                <a data-ng-href="/user/{{review.user.username}}">{{ review.user.username }}</a>
                                <span>{{ review.reviewedOn | date:'yyyy/MM/dd' }}</span>
                            </p>

                            <p class="comment">{{ review.comment }}</p>
                        </div>
                        <div class="col-xs-2">
                            <p class="text-center">
                                <i data-ng-if="review.score >= 6 && review.score < 7"
                                   class="fa fa-trophy bronze track-div-trophy" aria-hidden="true"></i>
                                <i data-ng-if="review.score >= 7 && review.score < 8"
                                   class="fa fa-trophy silver track-div-trophy" aria-hidden="true"></i>
                                <i data-ng-if="review.score >= 8 && review.score < 9"
                                   class="fa fa-trophy gold track-div-trophy" aria-hidden="true"></i>
                                <i data-ng-if="review.score >= 9"
                                   class="fa fa-diamond diamond track-div-trophy" aria-hidden="true"></i>
                                <i data-ng-if="review.score < 6"
                                   class="fa fa-diamond track-div-trophy" style="opacity: 0;" aria-hidden="true"></i>
                                {{ (review.score | number: 2) }}
                            </p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <th:block layout:fragment="script">

        <script type="text/javascript" th:inline="javascript">
            var showId = [[${show.id}]];
        </script>

        <script type="text/javascript"  th:src="@{/js/avgrund/jquery.avgrund.js}"></script>

        <script th:src="@{/webjars/angularjs/1.6.4/angular.min.js}"></script>
        <script th:src="@{/webjars/angular-route/1.6.4/angular-route.min.js}"></script>
        <script th:src="@{/webjars/angular-resource/1.6.4/angular-resource.min.js}"></script>

        <script type="text/javascript" th:src="@{/js/app/app.js}"></script>
        <script type="text/javascript" th:src="@{/js/app/services.js}"></script>
        <script type="text/javascript" th:src="@{/js/app/controllers.js}"></script>

    </th:block>

</body>
</html>