<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/site"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>UMSpreadsheet</title>

    <link rel="stylesheet" th:href="@{/css/about/about.css}"/>
</head>
<body>

<div layout:fragment="content">

    <div class="container text-center">
        <h1 id="header-title">About</h1>

        <div class="row">
            <h2 class="text-center">Rating System</h2>
            <div style="display: inline-block;">

                <img id="logo" th:src="@{/images/ums-logo-final.png}" style="display: inline-block"/>
                <table id="rating-table">
                    <thead>
                        <tr>
                            <td></td>
                            <td style="width: 80px;"></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="color: #B9F2FF;">
                            <td style="text-align: right; padding-right: 20px;">Diamond</td>
                            <td style="text-align: right;">9.0-10.0</td>
                            <td class="fa fa-diamond" style="padding-left: 20px;"></td>
                        </tr>
                        <tr style="color: #FFD700;">
                            <td style="text-align: right; padding-right: 20px;">Gold</td>
                            <td style="text-align: right;">8.0-9.0</td>
                            <td class="fa fa-trophy" style="padding-left: 20px;"></td>
                        </tr>
                        <tr style="color: #C0C0C0;">
                            <td style="text-align: right; padding-right: 20px;">Silver</td>
                            <td style="text-align: right;">7.0-9.0</td>
                            <td class="fa fa-trophy" style="padding-left: 20px;"></td>
                        </tr>
                        <tr style="color: #CD7F32;">
                            <td style="text-align: right; padding-right: 20px;">Bronze</td>
                            <td style="text-align: right;">6.0-7.0</td>
                            <td class="fa fa-trophy" style="padding-left: 20px;"></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>Fan-Created | Fan-Driven</h2>
                <div class="info-list-body">
                    <p>The goal of this website is to provide a unique and in-depth view of Umphrey's Mcgee's
                            powerful and ongoing musical career.</p>
                    <p>This community based resource should help to promote dialogue between a variety of fans,
                        old and new.</p>
                    <p>This resource is <span style="font-weight: bold;">just for fun</span> and in no way should be viewed as belittling to any
                        individual experience.</p>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Disclaimer</h2>
                <div class="info-list-body">
                    <p>This is a non-profit driven website, created and maintained by fans and is not associated with
                        Umphrey's Mcgee in any other way.</p>
                    <p>Please do not infringe on any of Umphrey's McGee's Copyright Laws by sharing or posting links
                            to copyrighted material.</p>
                    <p>We strongly encourage the use of <a href="www.nugs.net">nugs.net</a> to support the band.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Contact</h2>
                <div class="info-list-body">
                    <p>If you have any problems, ideas, or general questions, feel free to tweet us.</p>
                    <a href="https://www.twitter.com/umspreadsheet">
                        <img th:src="@{/images/social/twitter/Twitter_Logo_White_On_Image.png}" style="width: 100px; height: auto;"/>
                    </a>
                    <a href="https://twitter.com/intent/tweet?screen_name=umspreadsheet" class="twitter-mention-button" data-text="#umspreadsheet" data-show-count="false">
                        Tweet to @umspreadsheet</a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
    </div>
</div>

    <th:block layout:fragment="script">

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>

        <script type="text/javascript">

            $(function()
            {
                $('.box').matchHeight();
            });
        </script>

    </th:block>

</body>
