<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/site"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>UMSpreadsheet</title>

    <link rel="stylesheet" th:href="@{/css/about/about.css}"/>
</head>
<body>

<div layout:fragment="content">

    <div class="container text-center">
        <h1 id="header-title">About</h1>

        <h2 class="text-center">Rating System</h2>
        <div class="box">
            <img id="logo" th:src="@{/images/ums-logo-final.png}"/>
        </div>

        <div>
            <table id="rating-table">
                <thead>
                    <tr>
                        <td></td>
                        <td style="width: 80px;"></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr style="color: #B9F2FF;">
                        <td style="text-align: right; padding-right: 20px;">Diamond</td>
                        <td style="text-align: right;">9.0-10.0</td>
                        <td class="fa fa-diamond" style="padding-left: 20px;"></td>
                    </tr>
                    <tr style="color: #FFD700;">
                        <td style="text-align: right; padding-right: 20px;">Gold</td>
                        <td style="text-align: right;">8.0-9.0</td>
                        <td class="fa fa-trophy" style="padding-left: 20px;"></td>
                    </tr>
                    <tr style="color: #C0C0C0;">
                        <td style="text-align: right; padding-right: 20px;">Silver</td>
                        <td style="text-align: right;">7.0-9.0</td>
                        <td class="fa fa-trophy" style="padding-left: 20px;"></td>
                    </tr>
                    <tr style="color: #CD7F32;">
                        <td style="text-align: right; padding-right: 20px;">Bronze</td>
                        <td style="text-align: right;">6.0-7.0</td>
                        <td class="fa fa-trophy" style="padding-left: 20px;"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

    <th:block layout:fragment="script">

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>

        <script type="text/javascript">

            $(function()
            {
                $('.box').matchHeight();
            });
        </script>

    </th:block>

</body>
