<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="/layouts/site"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>UMSpreadsheet</title>

    <link rel="stylesheet" th:href="@{/css/show.css}" />
    <link rel="stylesheet" th:href="@{/css/track/track.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.min.css" />

</head>

<body>
    <div layout:fragment="content">
        <div id="#home-container" class="container">

            <div id="most-recent-show-header" th:object="${track}">
                <a th:href="@{'/shows/' + *{show.id} + '/' + *{show.slug}}">
                    <h2 id="show-title" th:text="*{song}"></h2>
                </a>
                <h2 class="pull-right show-rating-and-medal">
                    <i th:if="*{averageRating ge 6 and averageRating lt 7}" class="fa fa-trophy" style="color: #CD7F32;" aria-hidden="true"></i>
                    <i th:if="*{averageRating ge 7 and averageRating lt 8}" class="fa fa-trophy" style="color: #C0C0C0;" aria-hidden="true"></i>
                    <i th:if="*{averageRating ge 8 and averageRating lt 9}" class="fa fa-trophy" style="color: #FFD700;" aria-hidden="true"></i>
                    <i th:if="*{averageRating ge 9}" class="fa fa-diamond" style="color: #B9F2FF;" aria-hidden="true"></i>
                    <span th:if="*{averageRating != null}" th:text="*{#numbers.formatDecimal(averageRating, 1, 2)}">[0.00]</span>
                    <span th:if="*{averageRating == null}">No Rating</span>
                </h2>
                <h4 th:text="*{#dates.format(show.date, 'yyyy/MM/dd') + ' ' + show.city + ', '  + show.state}" style="margin-top: 3px;">[venue]</h4>
            </div>

            <br/>

            <div class="col-xs-12">

                <div th:each="review : ${reviews}" class="all-reviews-div">

                    <div class="row dark-div review-div">

                        <div class="col-xs-8 col-sm-10">
                            <p class="username">
                                <a th:href="@{'/user/' + ${review.user.username}}" th:text="${review.user.username}">{{ review.user.username }}</a>
                                <span th:text="${#dates.format(review.reviewedOn, 'yyy/M/d')}">{{ review.reviewedOn | date:'yyyy/MM/dd' }}</span>
                            </p>

                            <p class="comment" th:text="${review.comment}">{{ review.comment }}</p>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <p class="pull-right">
                                <i th:if="${review.score ge 6 and review.score lt 7}" class="fa fa-trophy bronze track-div-trophy"
                                   aria-hidden="true"></i>
                                <i th:if="${review.score ge 7 and review.score lt 8}" class="fa fa-trophy silver track-div-trophy"
                                   aria-hidden="true"></i>
                                <i th:if="${review.score ge 8 and review.score lt 9}" class="fa fa-trophy gold track-div-trophy"
                                   aria-hidden="true"></i>
                                <i th:if="${review.score ge 9}" class="fa fa-diamond diamond track-div-trophy" aria-hidden="true"></i>

                                <span th:text="${#numbers.formatDecimal(review.score, 1, 2)}"></span>
                            </p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <th:block layout:fragment="script">
    </th:block>
</body>
</html>