<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/site"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>UMSpreadsheet</title>

    <link rel="stylesheet" th:href="@{/css/show.css}" />
    <link rel="stylesheet" th:href="@{/css/track/track.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.min.css" />

</head>

<body>
    <div layout:fragment="content">
        <div id="#home-container" class="container">

            <div id="most-recent-show-header" th:object="${track}">
                <a th:href="@{'/shows/' + *{show.id} + '/' + *{show.slug}}">
                    <h2 id="show-title" th:text="*{song}"></h2>
                </a>
                <h2 class="pull-right show-rating-and-medal">
                    <i th:if="*{averageRating ge 6 and averageRating lt 7}" class="fa fa-trophy" style="color: #CD7F32;" aria-hidden="true"></i>
                    <i th:if="*{averageRating ge 7 and averageRating lt 8}" class="fa fa-trophy" style="color: #C0C0C0;" aria-hidden="true"></i>
                    <i th:if="*{averageRating ge 8 and averageRating lt 9}" class="fa fa-trophy" style="color: #FFD700;" aria-hidden="true"></i>
                    <i th:if="*{averageRating ge 9}" class="fa fa-diamond" style="color: #B9F2FF;" aria-hidden="true"></i>
                    <span th:if="*{averageRating != null}" th:text="*{#numbers.formatDecimal(averageRating, 1, 2)}">[0.00]</span>
                    <span th:if="*{averageRating == null}">No Rating</span>
                </h2>
                <h4 th:text="*{#dates.format(show.date, 'yyyy/MM/dd') + ' ' + show.city + ', '  + show.state}" style="margin-top: 3px;">[venue]</h4>
            </div>

            <br/>

            <div th:each="review : ${reviews}" th:object="${review}" class="comment-div" style="margin-bottom: 20px;">
                <div class="comment-body-div">
                    <h3 class="show-rating-and-medal" style="color: #C5B358; margin-bottom: 5px;">
                        <i th:if="*{track.averageRating ge 6 and track.averageRating lt 7}" class="fa fa-trophy" style="color: #CD7F32;" aria-hidden="true"></i>
                        <i th:if="*{track.averageRating ge 7 and track.averageRating lt 8}" class="fa fa-trophy" style="color: #C0C0C0;" aria-hidden="true"></i>
                        <i th:if="*{track.averageRating ge 8 and track.averageRating lt 9}" class="fa fa-trophy" style="color: #FFD700;" aria-hidden="true"></i>
                        <i th:if="*{track.averageRating ge 9}" class="fa fa-diamond" style="color: #B9F2FF;" aria-hidden="true"></i>
                        <span th:if="*{score != null}" th:text="*{#numbers.formatDecimal(score, 1, 2)}">[0.00]</span>
                        <span th:if="*{score == null}">No Rating</span>
                    </h3>

                    <p th:text="*{comment}">UMSpreadsheet was created to serve as a community-based resource for umphreaks.
                        This resource allows participants to give a rating to every song over Umphrey's entire career in an
                        effort to create a rather unique view of the music we love.  The goal is to help people find and listen
                        to music that they may not have discovered on their own, plain and simple.</p>
                </div>
                <div class="comment-footer-div">
                    <p style="font-size: 10px;">
                        <a th:href="@{'/user/' + *{user.username}}"><span th:text="*{user.username}">[user]</span></a>
                        <span th:text="'posted ' + *{#dates.format(reviewedOn, 'MMM dd yyyy HH:mm') + ' CST'}"></span>
                    </p>
                </div>
            </div>

        </div>
    </div>

    <th:block layout:fragment="script">
    </th:block>
</body>
</html>